<li class="dd-item dd3-item" data-id="<%= f.object.id %>" itemscope itemtype="http://schema.org/Person">
  <div class="card d-flex dd3-content">
    <div class="dd-handle dd3-handle"><%= t :drag %></div>
    <div class="card-body page d-flex">
      <div class="flex-grow-1 d-flex">

        <%= f.check_box :show_in_sidebar, hide_label: true, inline: true %>
        <%= f.hidden_field :id %>
        <%= f.hidden_field :weight, data: {property: "weight"} %>
        <%= render partial: "contact_properties", locals: {contact: f.object} %>
      </div>
      <div class="contact-links page-links">
        <%= exhibit_edit_link f.object %> &middot;
        <%= exhibit_delete_link f.object %>
      </div>
    </div>
  </div>
</li>
