<%= image_tag contact.avatar.thumb.url, class: 'contact-photo' if contact.avatar.present? %>
<div itemprop="name" class="name"><%= contact.name %></div>
<% Spotlight::Contact.fields.each do |field, options| %>
  <% if (value = contact.contact_info[field]).present? %>
    <div itemprop="<%= options[:itemprop] || field %>">
      <% if options[:helper] %>
        <%= send(options[:helper], value) %>
      <% else %>
        <%= value %>
      <% end %>
    </div>
  <% end %>
<% end %>
