<% cache_unless current_user, [current_exhibit, @page, I18n.locale] do %>
  <h2 class="nav-heading h4"><%= current_exhibit.main_navigations.about.label_or_default %></h2>
  <ul class="nav sidenav flex-column">
    <% current_exhibit.about_pages.for_locale.published.each do |page| %>
      <li class="nav-item <%= 'active' if current_page? [spotlight, current_exhibit, page] %>">
        <%= link_to page.title, [spotlight, current_exhibit, page], class: 'nav-link' %>
      </li>
    <% end %>
  </ul>
  <%= cache [current_exhibit, I18n.locale] do %>
    <%= render 'contacts' if current_exhibit.contacts.published.present? %>
  <% end %>
<% end %>
