<% cache_unless current_user, [current_exhibit, @page] do %>
<div id="sidebar" class="col-md-3" role="complementary">
  <h4 class="nav-heading"><%= current_exhibit.main_navigations.about.label_or_default %></h4>
  <ul class="nav sidenav">
    <% current_exhibit.about_pages.published.each do |page| %>
      <li class="<%= 'active' if current_page? [page.exhibit, page] %>">
        <%= link_to page.title, [page.exhibit, page] %>
      </li>
    <% end %>
  </ul>
  <%= cache current_exhibit do %>
    <%= render 'contacts' if current_exhibit.contacts.published.present? %>
  <% end %>
</div>
<% end %>
