<% content_for(:sidebar) do %>
  <%= render 'spotlight/shared/exhibit_sidebar' %>
<% end %>

<%= accessibility_page_title t(:".header") %>

<p>
  <%= t(:'.total_items', has_alt_text: @has_alt_text, total_alt_items: @total_alt_items).html_safe %>
</p>

<p>
  <%= t(:'.note') %>
</p>
<table class="table table-striped">
  <thead>
    <tr class="d-flex">
      <th class="col-6">
        <%= t :'.table.page_title' %>
      </th>
      <th class="col-3">
        <%= t :'.table.has_alt_text' %>
      </th>
      <th class="col-3">
        <%= t :'.table.can_have_alt_text' %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @pages.each do | page_dict | %>
      <% page = page_dict[:page] %>
      <tr class="d-flex">
        <td class="col-6">
          <h4 class="h5 mb-0">
            <%= page.title %>
            <span class="alt-text-status">
              <% if page_dict[:complete] %>
                <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="var(--bs-success)" class="bi bi-check-circle-fill">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </svg>
              <% else %>
              <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="var(--bs-warning)" class="bi bi-exclamation-triangle-fill">
                  <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                </svg>
              <% end %>
            </span>
          </h4>
          <%= render Spotlight::EditViewLinksComponent.new(page:, classes:'page-links pt-0') %>
        </td>
        <td class="col-3">
          <%= page_dict[:has_alt_text] %>
        </td>
        <td class="col-3">
          <%= page_dict[:can_have_alt_text] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>