<% search = f.object %>
<li class="dd-item dd3-item" data-id="<%= search.id %>">
  <div class="dd-handle dd3-handle"><%= t :drag %></div>
  <div class="dd3-content panel panel-default">
    <div class="panel-heading search">
      <%= f.check_box :published, label: '' %>
      
      <div class="pic thumbnail"><%= image_tag(search.thumbnail.image.thumb) if search.thumbnail %></div>
      <div class="main">
        <div class="title panel-title"><%= search.title %></div>
        <div class="count"><%= t :'.item_count', count: search.documents.size %></div>
        <div class="actions"><%= exhibit_view_link(search) %> &bull; <%= exhibit_edit_link(search) %> &bull; <%= exhibit_delete_link(search) %></div>
        <%= f.hidden_field :id %>
        <%= f.hidden_field :weight, data: {property: "weight"} %>
      </div>

      <div class="description">
        <% if search.long_description.present? %>
          <%= truncate(search.long_description, length: 89) %>
        <% else %>
          <span class="missing-description"><%= t(:'.missing_description_html', link: (link_to action_label(search, :edit_long), [spotlight, :edit, search.exhibit, search])) %></span>
        <% end %>
      </div>

    </div>
  </div>
</li>
