<%= render 'spotlight/shared/curation_sidebar' %>
<div id="content" class="col-md-9">
  <% @page_title = t(:'spotlight.curation.browse.title') %>

  <%= form_tag update_all_exhibit_searches_path(@exhibit) do %>

    <h1><%= t :'spotlight.curation.header' %></h1>
    <h2 class="text-muted"><%= t :'spotlight.curation.browse.header' %></h2>

    <div class="pull-right">
      <%= submit_tag t(:'spotlight.curation.browse.update'), class: "btn btn-default" %>
    </div>

    <h4 class="clearfix">Browse Categories <span class="label label-default"><%=@searches.count%></span></h4>
    <div class="browse-instuctions">Select the categories you want to be displayed on the browse landing page. Drag and drop categories to change the order in which they appear on that page.</div>
    <% @searches.each do |search| %>
      <%=render search %>
    <% end %>
  <% end %>
</div>
