<tr data-id="<%= key.parameterize %>" class="dd-item">
  <%= f.fields_for key do |field| %>
    <td>
      <%= field.hidden_field :weight, 'data-property' => 'weight' %>
      <div class="handle-wrap" data-in-place-edit-target=".edit-in-place" data-in-place-edit-field-target="[data-edit-field-target='true']">
        <div class="dd-handle dd3-handle"><%= t :drag %></div>
        <a href="#edit-in-place" class="field-label edit-in-place"><%= index_field_label(nil, key) %></a>
        <%= field.hidden_field :label, value: index_field_label(nil, key), class: 'form-control input-sm', data: {:"edit-field-target" => 'true'} %>
       </div>
    </td>
    <td class="checkbox-cell text-center"><%= field.check_box :show, inline: true, checked: config.show, label: "" %></td>
    <% available_view_fields.keys.each do |type| %>
    <td class="checkbox-cell text-center"><%= field.check_box type, inline: true, checked: config.send(type), label: "" %></td>
    <% end %>
  <% end %>
</tr>