<% content_for(:content) do %>
  <% if content_for? :sidebar %>
    <section id="content" class="<%= main_content_classes %> order-last">
      <%= yield %>
    </section>

    <aside id="sidebar" class="<%= sidebar_classes %> <%= content_for(:sidebar_position) || 'order-first' %>">
      <%= content_for(:sidebar) %>
    </aside>
  <% else %>
    <section class="col-md-12">
      <%= yield %>
    </section>
  <% end %>
<% end %>

<%= render template: "layouts/spotlight/base" %>
