<div id="exhibit-navbar" class="exhibit-navbar navbar navbar-light navbar-expand-md" role="navigation" aria-label="<%= t('spotlight.exhibitnavbar.label') %>">
  <div class="container flex-column flex-md-row">
    <% if helpers.resource_masthead? %>
      <%= link_to(helpers.current_exhibit.title, helpers.spotlight.exhibit_path(helpers.current_exhibit), class: 'navbar-brand') %>
    <% end %>

    <ul class="navbar-nav <%= helpers.resource_masthead? ? 'justify-content-md-end' : 'mr-auto me-auto' %>">
      <li class="nav-item <%= "active" if helpers.current_page?([helpers.spotlight, helpers.current_exhibit]) %>"><%= link_to t(:'spotlight.curation.nav.home'), [helpers.spotlight, helpers.current_exhibit], class: 'nav-link' %></li>
      <% helpers.current_exhibit.main_navigations.displayable.each do |navigation| %>
        <%= render partial: "shared/#{navigation.nav_type}_navbar", locals: { navigation: navigation } %>
      <% end %>
    </ul>
    <% if helpers.should_render_spotlight_search_bar? %>
      <div class="navbar-right navbar-nav exhibit-search-form mt-3 mt-md-0">
        <%= prepend_to_search_bar %>
        <%= render search_component.new(
          url: helpers.search_action_url,
          advanced_search_url: helpers.search_action_url(action: 'advanced_search'),
          params: helpers.search_state.params_for_search.except(:qt),
          autocomplete_path: suggest_index_catalog_path
        ) %>
      </div>
    <% end %>
  </div>
</div>
