<h3><%= t('spotlight.resources.csv.header') %></h3>
<%= bootstrap_form_for [@resource.exhibit, @resource.becomes(Spotlight::Resource::Csv)], style: :horizontal, right: 'col-sm-5 col-md-5', :html => {:multipart => true }  do |f| %>

  <div class="form-group">
  <%= f.file_field :url, help: link_to(t('.template'), [:template, @resource.exhibit, @resource.becomes(Spotlight::Resource::Csv)]) %>
  <%= f.hidden_field :url_cache %>
  </div>
  <div class="form-actions col-md-7 col-sm-7">
    <div class="primary-actions">
      <%= cancel_link @resource, :back, class: 'btn btn-default' %>
      <%= f.submit nil, class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>