<%= render 'spotlight/shared/curation_sidebar' %>
<div id="content" class="col-md-9">
  <% @page_title = t(:'.title') %>

  <h1><%= t :'spotlight.administration.header' %></h1>
  <h2 class="text-muted"><%= t :'.header' %></h2>
  <%= bootstrap_form_for @exhibit, url: spotlight.update_all_exhibit_roles_path(@exhibit) do |f| %>
    <%= exhibit_create_link Spotlight::Role.new, '#', class: 'btn btn-default', data: {behavior: 'new-user'} %>

    <table class="table table-striped">
      <thead>
        <th><%= t '.name' %></th>
        <th><%= t '.role' %></th>
        <th><%= t '.actions' %></th>
      </thead>
      <tbody>
      <%= f.fields_for :roles do |r| %>
        <% if r.object.new_record? %>
          <%= render partial: 'edit_fields', locals: {f: r} %>
          <tr data-edit-for="new">
            <td></td>
            <td colspan=2>
              <%= cancel_link r.object, '#', class: 'btn btn-text', data: {behavior: 'cancel-edit' } %>
              <%=f.submit nil, class: 'btn btn-primary'%>
            </td>
          </tr>
        <% else %>
          <tr data-show-for="<%= r.object.id %>">
            <td><%= r.object.user.to_s %></td>
            <td><%= r.object.role.humanize %></td>
            <td><%= link_to "#", data: {behavior: 'edit-user', target: r.object.id } do %>
              <span class="glyphicon glyphicon-edit"></span>
            <% end %></td>
          </tr>
          <%= render partial: 'edit_fields', locals: {f: r} %>
          <tr data-edit-for="<%= r.object.id %>">
            <td><%= f.submit action_label(r.object, :destroy), class: 'btn btn-danger', data: { behavior: 'destroy-user', target: r.object.id} %>
            <%= r.hidden_field :_destroy, data: {'destroy-for' => r.object.id} %>
            </td>
            <td colspan=2>
              <%= cancel_link r.object, '#', class: 'btn btn-text', data: {behavior: 'cancel-edit' } %>
              <%=f.submit nil, class: 'btn btn-primary'%>
            </td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  <% end %>
</div>
