<%= render 'spotlight/shared/exhibit_sidebar' %>
<div id="content" class="col-md-9" data-user-exists-url="<%= spotlight.exists_exhibit_roles_path(current_exhibit) %>">
  <%= configuration_page_title %>
  <%= bootstrap_form_for current_exhibit, url: spotlight.update_all_exhibit_roles_path(current_exhibit) do |f| %>
    <table class="table table-striped users">
      <thead>
        <th><%= t '.email' %></th>
        <th><%= t '.role' %></th>
        <th><%= t '.actions' %></th>
      </thead>
      <tbody>
      <%= f.fields_for :roles do |r| %>
        <% if r.object.new_record? %>
          <%= render partial: 'edit_fields', locals: {f: r} %>
          <tr data-edit-for="new">
            <td></td>
            <td colspan=2>
              <div class="form-actions">
                <div class="primary-actions">
                <%= cancel_link r.object, '#', class: 'btn btn-link', data: {behavior: 'cancel-edit' } %>
                <%=f.submit nil, class: 'btn btn-primary'%>
                </div>
              </div>
            </td>
          </tr>
        <% else %>
          <tr data-show-for="<%= r.object.id %>" class="<%= 'invite-pending' if r.object.user.invite_pending? %>">
            <td>
              <%= r.object.user.to_s %>
              <span class='label label-warning pending-label'><%= t('.invite_pending') %></span>
            </td>
            <td><%= r.object.role.humanize %></td>
            <td><%= link_to "#", data: {behavior: 'edit-user', target: r.object.id } do %>
              <span class="glyphicon glyphicon-edit"></span>
            <% end %></td>
          </tr>
          <%= render partial: 'edit_fields', locals: {f: r} %>
          <tr data-edit-for="<%= r.object.id %>">
            <td><%= f.submit action_label(r.object, :destroy), class: 'btn btn-danger', data: { behavior: 'destroy-user', target: r.object.id} %>
            <%= r.hidden_field :_destroy, data: {'destroy-for' => r.object.id} %>
            </td>
            <td colspan=2>
              <div class="form-actions">
                <div class="primary-actions">
                <%= cancel_link r.object, '#', class: 'btn btn-link', data: {behavior: 'cancel-edit' } %>
                <%=f.submit nil, class: 'btn btn-primary'%>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>

    <div class="form-actions">
      <div class="primary-actions">
      <%= exhibit_create_link Spotlight::Role.new, '#', class: 'btn btn-default', data: {behavior: 'new-user'} %>
      </div>
    </div>
  <% end %>
</div>
