<%= render 'spotlight/shared/curation_sidebar' %>
<div id="content" class="col-md-9">
  <%= curation_page_title %>
  <%= bootstrap_form_for @blacklight_configuration, url: spotlight.exhibit_blacklight_configuration_path(@exhibit), layout: :horizontal, label_col: 'col-md-3', control_col: 'col-sm-5' do |f| %>
    <div class="panel-group dd facet_fields" id="nested-fields" data-behavior="nestable" data-max-depth="1">
      <ol class="dd-list">
        <%= f.fields_for :facet_fields do |idxf| %>
          <% @blacklight_configuration.blacklight_config.facet_fields.each do |key, config| %>
            <li class="dd-item" data-id="<%= key.parameterize %>">
              <div class="dd-handle dd3-handle"><%= t :drag %></div>
              <%= idxf.fields_for key do |facet| %>
                <div class="dd3-content panel panel-default facet-config-<%= key.parameterize %>">
                  <div class="panel-heading page">
                    <%= facet.hidden_field :weight, 'data-property' => 'weight' %>
                    <%= facet.check_box :show, checked: config.show, label: "", title: key %>
                    <div class="main row">
                      <div class="col-sm-7">
                        <h3 class="panel-title" data-in-place-edit-target=".edit-in-place" data-in-place-edit-field-target="[data-edit-field-target='true']">
                          <a href="#edit-in-place" class="field-label edit-in-place"><%= facet_field_label(key) %></a>
                          <%= facet.hidden_field :label, value: facet_field_label(key), class: 'form-control input-sm', data: {:"edit-field-target" => 'true'} %>
                        </h3>
                      </div>
                      <% if metadata =  @fields.fetch(key.to_s, {}) %>
                        <div class="facet-metadata col-sm-5">
                          <%= content_tag :span, t(:'.items_count', count: alternate_count.fetch(key, 0)) %>
                          <% if (values_count = metadata.fetch('distinct', 0)) > 0 %>
                            • <%= content_tag :span, t(:'.values_count', count: values_count) %>
                            <%= tag("span", class: 'btn-with-tooltip glyphicon glyphicon-info-sign', data: {container: 'body', toggle: 'tooltip', placement: 'top', title: metadata.fetch('topTerms', {}).map { |k,v| String.new(k) }.join(" • ")}) %>
                          <% end %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ol>
    </div>
    <div class="form-actions">
      <div class="primary-actions">
        <%= f.submit nil, class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>
