<%= render 'spotlight/shared/curation_sidebar' %>
<div id="content" class="col-md-9">
<%= bootstrap_form_for @blacklight_configuration, url: spotlight.exhibit_blacklight_configuration_path(@exhibit), style: :horizontal, right: "col-sm-5" do |f| %>
    <div class="row">
      <h1><%= t('spotlight.curation.header') %></h1>
    </div>
    <div class="row">
      <div class="col-sm-5">
        <h2><small><%= t('spotlight.curation.metadata_fields.header') %></small></h2>
      </div>
      <div class="col-sm-2">
        <%= f.submit nil %>
      </div>
    </div>

    <table id="nested-fields" class="table table-striped">
      <thead>
        <tr>
          <th><%= t :'spotlight.curation.metadata_fields.label' %></th>
          <th><%= t :'spotlight.curation.metadata_fields.view.show', default: t(:'blacklight.search.view.show') %></th>
          <% @exhibit.blacklight_configuration.default_blacklight_config.view.keys.each do |type| %>

          <th><%= t "spotlight.curation.metadata_fields.view.#{type}", default: t("blacklight.search.view.#{type}") %></th>
          <% end %>
        </tr>
      </thead>
      <tbody class="metadata_fields dd dd-list">
        <%= f.fields_for :index_fields do |idxf| %>
          <% @exhibit.blacklight_configuration.all_index_fields.each do |key, config| %>
              <tr data-id="<%= key.parameterize %>" class="dd-item">
                <%= idxf.fields_for key do |field| %>
                  <td>
                    <%= field.hidden_field :weight, 'data-property' => 'weight' %>
                    <div class="dd-handle dd3-handle">Drag</div>

                  <%= config.label %>
                  </td>
                  <td><%= field.check_box :show, checked: (@exhibit.blacklight_configuration.index_fields[key] || {})[:show], label: "" %></td>
                  <% @exhibit.blacklight_configuration.default_blacklight_config.view.keys.each do |type| %>
                  <td><%= field.check_box type, checked: (@exhibit.blacklight_configuration.index_fields[key] || {})[type], label: "" %></td>
                  <% end %>
                <% end %>
              </tr>
          <% end %>
        <% end %>
     </tbody>
   </table>
<% end %>

<%= link_to t(:'spotlight.curation.custom_fields.new_custom_field'), new_exhibit_custom_field_path(current_exhibit), class: 'btn btn-default' %>
</div>