<%= render 'spotlight/shared/curation_sidebar' %>
<div id="content" class="col-md-9">
<%= bootstrap_form_for @blacklight_configuration, url: spotlight.exhibit_blacklight_configuration_path(@exhibit), style: :horizontal, right: "col-sm-5" do |f| %>
    <div class="row">
      <h1><%= t('spotlight.curation.header') %></h1>
    </div>
    <div class="row">
      <div class="col-sm-5">
        <h2><small><%= t('.header') %></small></h2>
      </div>
      <div class="col-sm-2">
        <%= f.submit nil %>
      </div>
    </div>
    <div class="panel-group dd facet_fields" id="nested-fields">
    <ol class="dd-list">

      <%= f.fields_for :facet_fields do |idxf| %>
        <% @exhibit.blacklight_configuration.all_facet_fields.each do |key, config| %>
          <li class="dd-item" data-id="<%= key.parameterize %>">
  <div class="dd-handle dd3-handle"><%= t :drag %></div>
          <%= idxf.fields_for key do |facet| %>
            <div class="dd3-content panel panel-default facet-config-<%= key.parameterize %>">
              <div class="panel-heading">
              <a class="pull-right btn btn-text" data-toggle="collapse" href="#collapse-facet-<%= key.parameterize %>"><%= t(:'.options') %>
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>

                <%= facet.hidden_field :weight, 'data-property' => 'weight' %>
                <%= facet.check_box :enabled, checked: (@exhibit.blacklight_configuration.facet_fields[key] || {}).fetch(:enabled, true), label: (@exhibit.blacklight_configuration.facet_fields[key] || {}).fetch(:label, @exhibit.blacklight_configuration.default_blacklight_config.facet_fields[key].label), title: key %>

                <% if metadata =  @fields.fetch(key.to_s, {}) %>
                <div class="text-muted">
                  <%= content_tag :span, t(:'.items_count', count: metadata.fetch('docs', 0)), class: 'btn btn-text' %> •

                  <%= link_to t(:'.values_count', count: metadata.fetch('distinct', 0)), catalog_facet_path(key), class: 'btn btn-text btn-with-tooltip', 'data-container' => 'body', 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => render_field_value(metadata.fetch('topTerms', {}).map { |k,v| String.new(k) }, config) %>
                  <% end %>
                </div>
              </div>
              <div id="collapse-facet-<%= key.parameterize %>" class="panel-collapse collapse">
                <div class="panel-body">
                  <%= facet.text_field :label, value: @exhibit.blacklight_configuration.facet_fields.fetch(key, {})[:label], label: t('.field.label'), placeholder: @exhibit.blacklight_configuration.default_blacklight_config.facet_fields[key].label %>
                </div>
              </div>
            </div>
          <% end %>
          </li>
        <% end %>
   <% end %>
   </ol>
   </div>
<% end %>
</div>