<%= render 'spotlight/shared/curation_sidebar' %>
<div id="content" class="col-md-9">
<%= bootstrap_form_for @blacklight_configuration, url: spotlight.exhibit_blacklight_configuration_path(@exhibit), style: :horizontal, right: "col-sm-5" do |f| %>
    <h1><%= t('spotlight.curation.header') %></h1>
    <div class="pull-right">
      <%= f.submit nil %>
    </div>
    <h2 class="text-muted clearfix"><%= t('spotlight.curation.metadata_fields.header') %></h2>
    <h3><%= t('spotlight.curation.metadata_fields.order_header') %></h3>

    <p class="instuctions">Select metadata fields to display on each type of page. Drag and drop fields to specify the order they are displayed on the Item Details page.</p>

    <table id="nested-fields" class="table table-striped">
      <thead>
        <tr>
          <th><%= t :'spotlight.curation.metadata_fields.label' %></th>
          <th><%= t :'spotlight.curation.metadata_fields.view.show', default: t(:'blacklight.search.view.show') %></th>
          <% @exhibit.blacklight_configuration.default_blacklight_config.view.keys.each do |type| %>

          <th><%= t "spotlight.curation.metadata_fields.view.#{type}", default: t("blacklight.search.view.#{type}") %></th>
          <% end %>
        </tr>
      </thead>
      <tbody class="metadata_fields dd dd-list">
        <%= f.fields_for :index_fields do |idxf| %>
          <% @exhibit.blacklight_configuration.all_index_fields.each do |key, config| %>
              <tr data-id="<%= key.parameterize %>" class="dd-item">
                <%= idxf.fields_for key do |field| %>
                  <td>
                    <%= field.hidden_field :weight, 'data-property' => 'weight' %>
                    <div class="dd-handle dd3-handle">Drag</div>

                  <%= config.label %>
                  </td>
                  <td><%= field.check_box :show, checked: (@exhibit.blacklight_configuration.index_fields[key] || {})[:show], label: "" %></td>
                  <% @exhibit.blacklight_configuration.default_blacklight_config.view.keys.each do |type| %>
                  <td><%= field.check_box type, checked: (@exhibit.blacklight_configuration.index_fields[key] || {})[type], label: "" %></td>
                  <% end %>
                <% end %>
              </tr>
          <% end %>
        <% end %>
     </tbody>
   </table>
<% end %>


    <h3><%= t('spotlight.curation.metadata_fields.exhibit_specific_header') %></h3>
    <p class="instuctions">You can add metadata fields to supplement the metadata fields that are part of the repository item record.</p>

    <table class="table table-striped" id="exhibit-specific-fields">
      <tbody>
        <% @exhibit.custom_fields.each do |field| %>
          <tr>
            <td>
              <div class="field-label"><%= field.label %></div>
              <div class="actions">
                <%= link_to t('helpers.submit.edit'), edit_custom_field_path(field), class: 'btn btn-text' %> &middot;
                <%= link_to t('helpers.submit.destroy'), custom_field_path(field), method: :delete, data: { confirm: t(:'spotlight.curation.metadata_fields.destroy_are_you_sure') }, class: 'btn btn-text' %>
              </div>
            </td>
            <td class="field-description">
              <%= field.short_description %>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>


<%= link_to t(:'spotlight.curation.metadata_fields.new_custom_field'), new_exhibit_custom_field_path(current_exhibit), class: 'btn btn-primary' %>
</div>
