<%= render 'spotlight/shared/curation_sidebar' %>
<div id="content" class="col-md-9">
<%= bootstrap_form_for @blacklight_configuration, url: spotlight.exhibit_blacklight_configuration_path(@exhibit), style: :horizontal, right: "col-sm-5" do |f| %>
    <h1><%= t('spotlight.curation.header') %></h1>
    <div class="pull-right">
      <%= f.submit nil %>
    </div>
    <h2 class="text-muted clearfix"><%= t(:'.header') %></h2>
    <h3><%= t(:'.order_header') %></h3>

    <p class="instuctions"><%= t :'.instructions' %></p>

    <table id="nested-fields" class="table table-striped">
      <thead>
        <tr>
          <th><%= t :'.fields.label' %></th>
          <th><%= t :'.view.show', default: t(:'blacklight.search.view.show') %></th>
          <% @exhibit.blacklight_configuration.default_blacklight_config.view.keys.each do |type| %>

          <th><%= t :".view.#{type}", default: t(:".view.#{type}") %></th>
          <% end %>
        </tr>
      </thead>
      <tbody class="metadata_fields dd dd-list">
        <%= f.fields_for :index_fields do |idxf| %>
          <% @exhibit.blacklight_configuration.all_index_fields.each do |key, config| %>
              <tr data-id="<%= key.parameterize %>" class="dd-item">
                <%= idxf.fields_for key do |field| %>
                  <td>
                    <%= field.hidden_field :weight, 'data-property' => 'weight' %>
                    <div class="dd-handle dd3-handle"><%= t :drag %></div>

                  <%= config.label %>
                  </td>
                  <td><%= field.check_box :show, checked: (@exhibit.blacklight_configuration.index_fields[key] || {})[:show], label: "" %></td>
                  <% @exhibit.blacklight_configuration.default_blacklight_config.view.keys.each do |type| %>
                  <td><%= field.check_box type, checked: (@exhibit.blacklight_configuration.index_fields[key] || {})[type], label: "" %></td>
                  <% end %>
                <% end %>
              </tr>
          <% end %>
        <% end %>
     </tbody>
   </table>
<% end %>


    <h3><%= t(:'.exhibit_specific.header') %></h3>
    <p class="instuctions"><%= t(:'.exhibit_specific.instructions') %></p>

    <table class="table table-striped" id="exhibit-specific-fields">
      <tbody>
        <% @exhibit.custom_fields.each do |field| %>
          <tr>
            <td>
              <div class="field-label"><%= field.label %></div>
              <div class="actions">
                <%= edit_link field, class: 'btn btn-text' %> &middot;
                <%= delete_link field, class: 'btn btn-text' %>
              </div>
            </td>
            <td class="field-description">
              <%= field.short_description %>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>


<%= create_link Spotlight::CustomField.new, new_exhibit_custom_field_path(current_exhibit), class: 'btn btn-primary' %>
</div>
