<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('.header.last_updated', language: t(:"locales.#{I18n.default_locale}")) %></th>
      <th class="text-center"><%= t('.header.default_published') %></th>
      <th><%= t('.header.last_updated', language: t(:"locales.#{@language}")) %></th>
      <th class='text-center'><%= t('.header.language_published') %></th>
      <th class='text-center'><%= t('.header.actions') %></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'page', collection: pages, locals: { f: f } %>
  </tbody>
</table>
