<div role="tabpanel" class="tab-pane <%= 'active' if @tab == 'pages' %>" id="pages">
  <p class="help-block"><%= t('spotlight.exhibits.translations.pages.help_html') %></p>

  <div class="translation-home-page-settings">
    <h2 class="translation-subheading">
      <%= t('spotlight.exhibits.translations.pages.home_page.label') %>
    </h2>

    <%= render 'pages_table', pages: [current_exhibit.home_page] %>
  </div>

  <% if current_exhibit.feature_pages.any? %>
    <div class="translation-feature-page-settings">
      <h2 class="translation-subheading">
        <%= t('spotlight.exhibits.translations.pages.feature_pages.label') %>
      </h2>

      <%= render 'pages_table', pages: current_exhibit.feature_pages  %>
    </div>
  <% end %>

  <% if current_exhibit.about_pages.any? %>
    <div class="translation-about-page-settings">
      <h2 class="translation-subheading">
        <%= t('spotlight.exhibits.translations.pages.about_pages.label') %>
      </h2>

      <%= render 'pages_table', pages: current_exhibit.about_pages %>
    </div>
  <% end %>
</div>
