<div role="tabpanel" class="tab-pane <%= 'active' if @tab == 'pages' %>" id="pages">
  <p class="instructions"><%= t('.help_html') %></p>

  <%= bootstrap_form_for @exhibit, url: polymorphic_path([:update_all, @exhibit, :pages]), layout: :horizontal, control_col: 'col-sm-10', html: {:'data-form-observer' => true} do |f| %>
    <div class="translation-home-page-settings">
      <%= render Spotlight::Translations::SubheadingComponent.new(key: 'pages.home_page.label') %>

      <%= render 'pages_table', pages: [current_exhibit.home_page], f: f %>
    </div>

    <% if current_exhibit.feature_pages.any? %>
      <div class="translation-feature-page-settings">
        <%= render Spotlight::Translations::SubheadingComponent.new(key: 'pages.feature_pages.label') %>

        <%= render 'pages_table', pages: current_exhibit.feature_pages.for_default_locale, f: f %>
      </div>
    <% end %>

    <% if current_exhibit.about_pages.any? %>
      <div class="translation-about-page-settings">
        <%= render Spotlight::Translations::SubheadingComponent.new(key: 'pages.about_pages.label') %>

        <%= render 'pages_table', pages: current_exhibit.about_pages.for_default_locale, f: f %>
      </div>
    <% end %>
    <div class="form-actions">
      <div class="primary-actions">
        <%= f.submit nil, class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>
