<div role="tabpanel" class="tab-pane <%= 'active' if @tab == 'search_fields' %>" id="search_fields">
  <%= bootstrap_form_for current_exhibit, url: spotlight.exhibit_translations_path(current_exhibit), layout: :horizontal do |f| %>
    <% # Add hidden fields for the language and tab so the redirect knows how to come back here %>
    <%= hidden_field_tag :language, @language %>
    <%= hidden_field_tag :tab, 'search_fields' %>

    <div class='translation-field-based-search-fields'>
      <h2 class='translation-subheading'>
        <%= t('spotlight.exhibits.translations.search_fields.field_based_search_fields.label') %>
      </h2>

      <% current_exhibit.blacklight_config.search_fields.select { |_, config| config.if }.each do |key, search_config| %>
        <% translation = Translation.find_or_initialize_by(exhibit: current_exhibit, key: "blacklight.search.fields.search.#{key}", locale: @language) %>
        <%= f.fields_for :translations, translation do |translation_fields| %>
          <%= translation_fields.hidden_field :key %>
          <%= translation_fields.hidden_field :locale %>
          <div data-translation-progress-item='true' class='form-group translation-form'>
            <%= translation_fields.label :value, t("spotlight.search.fields.search.#{key}", locale: I18n.default_locale), class: 'control-label col-xs-12 col-sm-2' %>
            <div class='col-xs-11 col-sm-9 panel panel-body panel-translation'>
              <%= translation_fields.text_field_without_bootstrap :value, class: 'form-control' %>
              <p class="help-block">
                <%= search_config.label %>
              </p>
            </div>
            <div class='col-xs-1'>
              <% if translation.value.present? %>
                <span data-translation-present="true" class='glyphicon glyphicon-ok'></span>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class='translation-facet-fields'>
      <h2 class='translation-subheading'>
        <%= t('spotlight.exhibits.translations.search_fields.facet_fields.label') %>
      </h2>

      <% current_exhibit.blacklight_config.facet_fields.each do |key, facet_config| %>
        <% translation = Translation.find_or_initialize_by(exhibit: current_exhibit, key: "blacklight.search.fields.facet.#{key}", locale: @language) %>
        <%= f.fields_for :translations, translation do |translation_fields| %>
          <%= translation_fields.hidden_field :key %>
          <%= translation_fields.hidden_field :locale %>
          <div data-translation-progress-item='true' class='form-group translation-form'>
            <%= translation_fields.label :value, t("spotlight.search.fields.facet.#{key}", locale: I18n.default_locale), class: 'control-label col-xs-12 col-sm-2' %>
            <div class='col-xs-11 col-sm-9 panel panel-body panel-translation'>
              <%= translation_fields.text_field_without_bootstrap :value, class: 'form-control' %>
              <p class="help-block">
                <%= facet_config.label %>
              </p>
            </div>
            <div class='col-xs-1'>
              <% if translation.value.present? %>
                <span data-translation-present="true" class='glyphicon glyphicon-ok'></span>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class='translation-sort-fields'>
      <h2 class='translation-subheading'>
        <%= t('spotlight.exhibits.translations.search_fields.sort_fields.label') %>
      </h2>

      <% current_exhibit.blacklight_config.sort_fields.each do |key, sort_config| %>
        <% translation = Translation.find_or_initialize_by(exhibit: current_exhibit, key: "blacklight.search.fields.sort.#{key}", locale: @language) %>
        <%= f.fields_for :translations, translation do |translation_fields| %>
          <%= translation_fields.hidden_field :key %>
          <%= translation_fields.hidden_field :locale %>
          <div data-translation-progress-item='true' class='form-group translation-form'>
            <%= translation_fields.label :value, t("spotlight.search.fields.sort.#{key}", locale: I18n.default_locale), class: 'control-label col-xs-12 col-sm-2' %>
            <div class='col-xs-11 col-sm-9 panel panel-body panel-translation'>
              <%= translation_fields.text_field_without_bootstrap :value, class: 'form-control' %>
              <p class="help-block">
                <%= sort_config.label %>
              </p>
            </div>
            <div class='col-xs-1'>
              <% if translation.value.present? %>
                <span data-translation-present="true" class='glyphicon glyphicon-ok'></span>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="form-actions">
      <div class="primary-actions">
        <%= f.submit nil, class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>
