<% content_for(:sidebar) do %>
  <%= render 'spotlight/shared/exhibit_sidebar' %>
<% end %>

<div class='translation-edit-form'>
  <%= curation_page_title t('.title') %>

  <div class='text-center'>
    <ul class='nav nav-pills'>
      <% current_exhibit.available_locales.each do |language| %>
        <li role="presentation" class="nav-item">
          <%= link_to spotlight.edit_exhibit_translations_path(current_exhibit, language: language), class: "nav-link #{'active' if @language == language}" do %>
            <%= t("locales.#{language}") %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <%= render partial: 'import' %>

  <div role="tabpanel">
    <ul class='nav nav-tabs' role="tablist">
      <li role="presentation" class="nav-item">
        <a href='#general' class="nav-link <%= 'active' if @tab.blank? %>" aria-controls="general" role="tab" data-toggle="tab" data-bs-toggle="tab" data-behavior="translation-progress">
          <%= t('spotlight.translations.general.label') %> <span class="badge"></span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#metadata" class="nav-link <%= 'active' if @tab == 'metadata' %>" aria-controls="metadata" role="tab" data-toggle="tab" data-bs-toggle="tab" data-behavior="translation-progress">
          <%= t('spotlight.translations.metadata.label') %> <span class="badge"></span>
        </a>
      </li>
      <li class="nav-item" >
        <a href="#search_fields" class="nav-link <%= 'active' if @tab == 'search_fields' %>" aria-controls="search_fields" role="tab" data-toggle="tab" data-bs-toggle="tab" data-behavior="translation-progress">
          <%= t('spotlight.translations.search_fields.label') %> <span class="badge"></span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#browse" class="nav-link <%= 'active' if @tab == 'browse' %>" aria-controls="browse" role="tab" data-toggle="tab" data-bs-toggle="tab" data-behavior="translation-progress">
          <%= t('spotlight.translations.browse_categories.label') %> <span class="badge"></span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#groups" class="nav-link <%= 'active' if @tab == 'groups' %>" aria-controls="groups" role="tab" data-toggle="tab" data-bs-toggle="tab" data-behavior="translation-progress">
          <%= t('spotlight.translations.groups.label') %> <span class="badge"></span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#pages" class="nav-link <%= 'active' if @tab == 'pages' %>" aria-controls="pages" role="tab" data-toggle="tab" data-bs-toggle="tab" data-behavior="translation-progress">
          <%= t('spotlight.translations.pages.label') %> <span class="badge"></span>
        </a>
      </li>
    </ul>

    <div class="tab-content">
      <%= render 'general' %>
      <%= render 'metadata' %>
      <%= render 'search_fields' %>
      <%= render 'browse_categories' %>
      <%= render 'pages' %>
      <%= render 'groups' %>
    </div>
  </div>
</div>
