<% content_for(:sidebar) do %>
  <%= render 'spotlight/shared/exhibit_sidebar' %>
<% end %>

<div class='translation-edit-form'>
  <%= curation_page_title t('.title') %>

  <div class='text-center'>
    <ul class='nav nav-pills'>
      <% current_exhibit.available_locales.each do |language| %>
        <li role="presentation" class="nav-item">
          <%= link_to spotlight.edit_exhibit_translations_path(current_exhibit, language: language), class: "nav-link #{'active' if @language == language}" do %>
            <%= t("locales.#{language}") %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <%= render partial: 'import' %>

  <%= render Spotlight::TabPanelComponent.new do |component| %>
    <% badge = tag.span(class: 'badge') %>

    <% %w[general metadata search_fields browse_categories groups pages].each do |section| %>
      <% component.tab(id: section, label: safe_join([t("spotlight.translations.#{section}.label"), badge], ' '), active: @tab == section || (section == 'general' && @tab.blank?), label_data: { behavior: 'translation-progress' })  do %>
        <%= render section %>
      <% end %>
    <% end %>
  <% end %>
</div>
