<%= f.fields_for "home_page" do |p| %>
  <% page = p.object %>
  <div class="home_page">
    <h3><%= t('spotlight.pages.index.feature_pages.home_pages_header') %></h3>
    <div class="panel panel-default">
      <div class="panel-heading page">
        <div class="main row">
          <div class="col-sm-8">
            <%= p.hidden_field :id, value: page.id , class: 'form-control input-sm' %>
            <h3 class="panel-title" data-in-place-edit-target=".edit-in-place" data-in-place-edit-field-target="[data-edit-field-target='true']">
              <a href="#edit-in-place" class="field-label edit-in-place"><%= page.title %></a>
              <%= p.hidden_field :title, value: page.title , class: 'form-control input-sm', data: {:"edit-field-target" => 'true'} %>
            </h3>
          </div>
          <div class="col-sm-4 page-links">
            <%= exhibit_view_link page, exhibit_root_path(page.exhibit), class: 'btn btn-link' %> &middot;
            <%= exhibit_edit_link page, edit_exhibit_home_page_path(page.exhibit), class: 'btn btn-link' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
