<% browse_block.with_solr_helper(self) %>

<% if browse_block.searches? %>
  <div class="spotlight-flexbox browse-categories categories-<%= browse_block.searches.length %>" data-sidebar='<%= @page.display_sidebar? %>'>
    <% browse_block.searches.each_with_index do |search, index| %>
      <div class="box category-<%= (index + 1) %>">
        <%= link_to spotlight.exhibit_browse_path(search.exhibit, search) do %>
          <div class="browse-category" style='background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url("<%= search.thumbnail.image.cropped if search.thumbnail %>")'>
            <div class="category-caption">
              <p class="category-title">
                <%= search.title %>
              </p>

              <% if browse_block.display_item_counts? %>
                <span class="item-count"><%= t(:'.items', count: search.documents.size) %></span>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>