<% if browse_group_categories_block.groups? %>
  <% browse_group_categories_block.groups.each do |group| %>
    <div class="browse-group-categories-block" data-browse-group-categories-count="<%= group.searches.count %>">
      <div class="d-flex flex-column flex-md-row py-2">
        <div class="d-flex justify-content-between align-items-end">
          <h2 class="m-0"><%= group.title %></h2>
          <div class="pl-5">
            <%= link_to 'View all', exhibit_browse_groups_path(current_exhibit, group) %>
          </div>
        </div>
        <% if group.searches.count > 1 %>
          <ul class="browse-group-categories-controls p-0 pt-2 pt-md-0 ml-md-auto mb-0 d-flex justify-content-center align-items-end">
            <li class="prev px-1 overflow-hidden">
              <%= blacklight_icon 'arrow-alt-circle-left' %>
            </li>
            <li class="next px-1 overflow-hidden">
              <%= blacklight_icon 'arrow-alt-circle-right' %>
            </li>
          </ul>
        <% end %>
      </div>
      <div class="spotlight-flexbox browse-categories categories-<%= [group.searches.count, (@page.display_sidebar? ? 3 : 4)].min %>" data-browse-group-categories-carousel data-sidebar='<%= @page.display_sidebar? %>' data-browse-group-categories-count="<%= group.searches.count %>">
        <% group.searches.published.each_with_index do |search, index| %>
          <div class="box category-1 justify-content-center justify-content-md-start">
            <%= link_to spotlight.exhibit_browse_group_path(current_exhibit, group, search), class: 'justify-content-center' do %>
              <div class="browse-category" style='background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url("<%= search.thumbnail.iiif_url if search.thumbnail %>")'>
                <div class="category-caption">
                  <p class="category-title">
                    <%= search.title %>
                    <% if search.subtitle.present? %><span class="category-subtitle"><%= search.subtitle %></span><% end %>
                  </p>

                  <% if browse_group_categories_block.display_item_counts? %>
                    <span class="item-count"><%= t(:'.items', count: search.count) %></span>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
