<% if featured_pages_block.pages? %>
  <div class="spotlight-flexbox browse-categories categories-<%= featured_pages_block.pages.length %>" data-sidebar='<%= @page.display_sidebar? %>'>
    <% featured_pages_block.pages.each_with_index do |page, index| %>
      <div class="box category-<%= (index + 1) %>">
        <%= link_to [page.exhibit, page] do %>
          <div class="browse-category" style='background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)) <%= ", url(\"#{page.thumbnail.image.thumb}\")" if page.thumbnail %>'>
            <div class="category-caption">
              <p class="category-title">
                <%= page.title %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
