<% item_text_block.with_solr_helper(self) %>

<% if item_text_block.solr_document.present? %>
  <div class="content-block item-text row">
    <div class="image-block pull-<%= item_text_block.text_align %>">
      <% if (block_thumb = item_text_block.send(:'item-thumbnail_0')).present? %>
        <div class="thumbnail"><%= link_to_document(item_text_block.solr_document, image_tag(block_thumb), counter: -1) %></div>
      <% elsif has_thumbnail? item_text_block.solr_document %>
        <div class="thumbnail"><%= render_thumbnail_tag(item_text_block.solr_document, {}, document_counter: -1) %></div>
      <% end %>
      <% if item_text_block.primary_caption? %>
        <div class="primary-caption">
          <%= multi_up_item_grid_caption(item_text_block, item_text_block.solr_document) %>
        </div>
      <% end %>
      <% if item_text_block.secondary_caption? %>
        <div class="secondary-caption">
          <%= multi_up_item_grid_caption(item_text_block, item_text_block.solr_document, 'secondary') %>
        </div>
      <% end %>
    </div>
    <%= sir_trevor_markdown item_text_block.text %>
  </div>
<% end %>