<% block = oembed_block %>
<div class="content-block item-text row <%= 'flex-row-reverse' if block.content_align == 'right' %>">
  <div class="<%= 'col-md-6' if block.text? %> col-12 oembed-block">
    <%= render_oembed_tag block.url %>
  </div>

  <% if block.text? %>
    <div class="text-col col-md-6">
      <% unless block.title.blank? %>
        <h3><%= block.title %></h3>
      <% end %>
      <%= sir_trevor_markdown block.text %>
    </div>
  <% end %>
</div>
