<div class="content-block items-block row d-block clearfix">
  <div class="items-col <%= oembed_block.text? ? 'col-md-6' : 'col-md-12' %> <%= oembed_block.content_align == 'right' ? 'float-end' : 'float-start' %> oembed-block">
    <%= render_oembed_tag oembed_block.url %>
  </div>

  <% if oembed_block.text? %>
    <div class="text-col col-md-6 mw-100">
      <% unless oembed_block.title.blank? %>
        <h3><%= oembed_block.title %></h3>
      <% end %>
      <%= sir_trevor_markdown oembed_block.text %>
    </div>
  <% end %>
</div>
