<div class="content-block item-text row">
  <div class="<%= 'col-md-6' if oembed_block.text? %> col-xs-12 oembed-block pull-<%= oembed_block.content_align %>">
    <%= render_oembed_tag oembed_block.url %>
  </div>

  <% if oembed_block.text? %>
    <div class="text-col col-md-6">
      <% unless oembed_block.title.blank? %>
        <h3><%= oembed_block.title %></h3>
      <% end %>
      <%= sir_trevor_markdown oembed_block.text %>
    </div>
  <% end %>
</div>
