<% solr_documents_embed_block.with_solr_helper(self) %>
<% block = solr_documents_embed_block %>

<div class="content-block items-block row <%= 'flex-row-reverse' if block.content_align == 'right' %>">

  <% if block.documents? %>
    <div class="items-col spotlight-flexbox <%= block.text? ? "col-md-6" : "col-md-12" %> ">
      <% block.each_document do |block_options, document| %>
        <div class="box" data-id="<%= document.id %>">
          <%= render_document_partials document, blacklight_config.view.embed.partials, (blacklight_config.view.embed.locals || {}).reverse_merge(block: block) %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if block.text? %>
    <div class="text-col col-md-6">
      <% unless block.title.blank? %>
        <h3><%= block.title %></h3>
      <% end %>
      <%= sir_trevor_markdown block.text %>
    </div>
  <% end %>
</div>
