<% solr_documents_embed_block.with_solr_helper(self) %>

<div class="content-block items-block row">

  <% if solr_documents_embed_block.documents? %>

    <div class="items-col spotlight-flexbox pull-<%= solr_documents_embed_block.content_align %> <%= solr_documents_embed_block.text? ? "col-md-6" : "col-md-12" %> ">
      <% solr_documents_embed_block.each_document do |block_options, document| %>
        <div class="box" data-id="<%= document.id %>">
          <%= render_document_partials document, blacklight_config.view.embed.partials, (blacklight_config.view.embed.locals || {}).reverse_merge(block: solr_documents_embed_block) %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if solr_documents_embed_block.text? %>
    <div class="text-col col-md-6">
      <% unless solr_documents_embed_block.title.blank? %>
        <h3><%= solr_documents_embed_block.title %></h3>
      <% end %>
      <%= sir_trevor_markdown solr_documents_embed_block.text %>
    </div>
  <% end %>
</div>