<% solr_documents_block.with_solr_helper(self) %>
<% block = solr_documents_block %>

<div class="content-block items-block row <%= 'flex-row-reverse' if block.content_align == 'right' %>">
  <% if block.documents? %>

    <div class="items-col spotlight-flexbox <%= block.text? ? "col-md-6" : "col-md-12" %> ">
      <% block.each_document do |block_options, document| %>
        <% doc_presenter = index_presenter(document) %>
        <div class="box" data-id="<%= document.id %>">
          <div class="contents">
            <% if block_options[:thumbnail_image_url].present? %>
              <%= link_to_document(document, image_tag(block_options[:thumbnail_image_url], class: 'img-thumbnail'), counter: -1) %>
            <% elsif block_options[:iiif_tilesource_base].present?  %>
              <%= link_to_document(document, image_tag(block_options[:iiif_tilesource_base] + '/full/!400,400/0/default.jpg', class: 'img-thumbnail'), counter: -1) %>
            <% elsif has_thumbnail? document %>
              <%= render_thumbnail_tag(document, { class: 'img-thumbnail' }, document_counter: -1) %>
            <% end %>
            <% if block.primary_caption? %>
              <div class="caption primary-caption">
                <%= doc_presenter.field_value(blacklight_config.index_fields[block.primary_caption_field] || Blacklight::Configuration::NullField.new(block.primary_caption_field)) %>
              </div>
            <% end %>
            <% if block.secondary_caption? %>
              <div class="caption secondary-caption">
                <%= doc_presenter.field_value(blacklight_config.index_fields[block.secondary_caption_field] || Blacklight::Configuration::NullField.new(block.secondary_caption_field)) %>
              </div>
            <% end %>
            <% if block.zpr_link? && block_options[:iiif_tilesource].present? %>
              <button class="btn btn-secondary zpr-link" data-iiif-tilesource="<%= block_options[:iiif_tilesource] %>">Show in ZPR viewer</button>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if block.text? %>
    <div class="text-col col-md-6">
      <% unless block.title.blank? %>
        <h3><%= block.title %></h3>
      <% end %>
      <%= sir_trevor_markdown block.text %>
    </div>
  <% end %>
</div>
