<% if Rails::VERSION::MAJOR >= 5 %>
  <% form_prefix = f.object_name.parameterize(separator: '_') %>
<% else %>
  <% form_prefix = f.object_name.parameterize('_') %>
<% end %>  
<%= field_set_tag do %>
  <%= f.check_box(:display) %>
<% end if f.object.is_a? Spotlight::Masthead %>
<%= field_set_tag(t(:'.source.header')) do %>
  <div>
    <%= f.radio_button(:source, :exhibit, label: t(:'.source.exhibit.label')) %>
    <div>
      <%= f.hidden_field(:document_global_id) %>
      <%= f.hidden_field(:remote_image_url) %>
      <%= text_field_tag(:document_title, (presenter(f.object.document).document_show_html_title if f.object.document), class: "form-control", data: { input_select_target: "##{form_prefix}_source_exhibit", masthead_typeahead: true, target_panel: "##{form_prefix}-target-panel", :'id-field' => "##{form_prefix}_document_global_id", remote_url_field: "##{form_prefix}_remote_image_url" }) %>
      <div id="<%= form_prefix %>-target-panel" style="display:none">
        <div class="panel-heading">
          <div data-item-title="true"></div>
          <div data-panel-image-pagination="true"></div>
        </div>
      </div>
      <p class="help-block"><%= t(:'.source.exhibit.help') %></p>
    </div>
  </div>
  <div>
    <%= f.radio_button(:source, :remote, label: t(:'.source.remote.label')) %>
    <%= image_form.upload(f) %>
  </div>
<% end %>
<%= field_set_tag(t(:'.source.remote.header')) do %>
  <p class="instructions"><%= t(:'.source.remote.help') %></p>
  <%= image_form.text_and_display(f) %>
<% end %>
