<div data-cropper="<%= f.object.model_name.singular_route_key %>" data-form-prefix="<%= form_prefix(f) %>" data-input-prefix="<%= input_prefix(f) %>">
<%= field_set_tag do %>
  <%= f.check_box(:display, layout: :vertical) %>
<% end if f.object.is_a? Spotlight::Masthead %>
<%= field_set_tag(t(:'.source.header')) do %>
  <div>
    <%= f.radio_button(:source, :exhibit, label: t(:'.source.exhibit.label')) %>
    <div>
      <%= f.hidden_field(:document_global_id) %>
      <div class="alert alert-danger" data-behavior="non-iiif-alert" role="alert" style="display:none;">
        <%= blacklight_icon('warning') %>
        <%= t(:'.non_iiif_alert_html') %>
      </div>
      <auto-complete id="<%= form_prefix(f) %>-auto-complete" for="<%= form_prefix(f) %>-auto-complete-popup" fetch-on-empty>
        <%= text_field_tag(:document_title, (document_presenter(f.object.document).heading if f.object.document), class: "form-control", data: { input_select_target: "##{form_prefix(f)}_source_exhibit", 'behavior': 'autocomplete', featured_image_typeahead: true, target_panel: "##{form_prefix(f)}-target-panel", :'id-field' => "##{form_prefix(f)}_document_global_id" }) %>
        <ul id="<%= form_prefix(f) %>-auto-complete-popup"></ul>
        <div id="<%= form_prefix(f) %>-auto-complete-feedback" class="sr-only visually-hidden"></div>
      </auto-complete>
      <div id="<%= form_prefix(f) %>-target-panel" style="display:none">
        <div class="card-header">
          <div data-item-title="true"></div>
          <div data-panel-image-pagination="true"></div>
        </div>
      </div>
      <div class="form-text text-muted mb-3"><%= t(:'.source.exhibit.help') %></div>
    </div>
  </div>
  <div>
    <%= f.radio_button(:source, :remote, label: t(:'.source.remote.label')) %>
    <%= iiif_upload_tag(f) %>
    <div class="form-text text-muted mb-3">
      <%= t(:'.source.remote.help') %>
    </div>
  </div>
<% end %>
<%= field_set_tag(t(:'.source.remote.header')) do %>
  <p class="instructions"><%= t(:'.crop_area.help_html', thing: crop_type) %></p>
  <%= iiif_cropper_tags f, initial_crop_selection: initial_crop_selection %>
<% end %>
</div>
