<% if Rails::VERSION::MAJOR >= 5 %>
  <% form_prefix = f.object_name.parameterize(separator: '_') %>
<% else %>
  <% form_prefix = f.object_name.parameterize('_') %>
<% end %>
<%= field_set_tag do %>
  <%= f.check_box(:display) %>
<% end if f.object.is_a? Spotlight::Masthead %>
<%= field_set_tag(t(:'.source.header')) do %>
  <div>
    <%= f.hidden_field(:source, value: :remote, label: t(:'.source.remote.label')) %>
    <%= f.file_field_without_bootstrap(:image, data: {
      endpoint: polymorphic_path(f.object.model_name.route_key),
      tilesource: f.object.persisted? ? riiif.info_url(f.object.id) : nil,
      association: 'site_masthead_id',
      url: 'site_masthead_attributes_iiif_url',
      selector: crop_options[:selector],
      croppable: true } ) %>
  </div>
<% end %>
<%= field_set_tag(t(:'.source.remote.header')) do %>
  <p class="instructions"><%= t(:'.source.remote.help') %></p>
  <%= f.text_field :iiif_url, size: 120 %>
  <div id="<%= crop_options[:selector] %>" class="osd-container"></div>
<% end %>
