<div data-cropper="<%= f.object.model_name.singular_route_key %>" data-form-prefix="<%= form_prefix(f) %>">
<%= field_set_tag do %>
  <%= f.check_box(:display) %>
<% end if f.object.is_a? Spotlight::Masthead %>
<%= field_set_tag(t(:'.source.header')) do %>
  <div>
    <%= f.hidden_field(:source, value: :remote, label: t(:'.source.remote.label')) %>
    <%= iiif_upload_tag(f) %>
    <span class="help-block">
      <%= t(:'.source.remote.help') %>
    </span>
  </div>
<% end %>
<%= field_set_tag(t(:'.source.remote.header')) do %>
  <p class="instructions"><%= t(:'.crop_area.help', thing: crop_type) %></p>
  <%= iiif_cropper_tags f, initial_crop_selection: initial_crop_selection %>
<% end %>
</div>
