<div id="exhibit-navbar" class="navbar navbar-default" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav">
      <% if current_exhibit -%>
        <li class="<%= "active" if current_page?(current_exhibit) %>"><%= link_to t(:'spotlight.curation.nav.home'), current_exhibit %></li>
        <% current_exhibit.main_navigations.each do |navigation| %>
          <%= render partial: "shared/#{navigation.nav_type}_navbar", locals: {navigation: navigation} %>
        <% end %>
      <% end %>
    </ul>

    <div class="navbar-right col-sm-4 col-md-4"> 
      <%= render_search_bar  %>
    </div>
  </div>
</div>
<div class="container">
<%= render_breadcrumbs :builder => Spotlight::BootstrapBreadcrumbsBuilder %>
</div>
