<% if current_exhibit %>
<div id="exhibit-masthead" class="<%= exhibit_masthead? ? 'jumbotron with-exhibit-masthead' : 'with-page-masthead' %><%= ' with-image' if current_masthead %>">
  <% if current_masthead %>
    <span class='background-container' style="background-image: url('<%= image_path(current_masthead.image.cropped) %>')"></span>
    <span class='background-container-gradient'></span>
  <% end %>
  <div class="container">
    <div class="site-title h1">
      <% if content_for? :masthead %>
        <%= content_for :masthead %>
      <% else %>
        <%= current_exhibit.title %>
        <% if current_exhibit.subtitle %>
          <small><%= current_exhibit.subtitle %></small>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<% end %>
