<% if current_exhibit %>
<div id="exhibit-masthead" class="<%= exhibit_masthead? ? 'jumbotron with-exhibit-masthead' : 'with-page-masthead' %><%= ' with-image' if current_masthead %>">
  <% if current_masthead %>
    <span class='background-container' style="background-image: url('<%= image_path(current_masthead.image.cropped) %>')"></span>
    <span class='background-container-gradient'></span>
  <% end %>
  <div class="container">
    <%= cache [current_exhibit,cache_key_for_spotlight_exhibits] do %>
    <ul class="more-exhibits nav navbar-nav navbar-sm">
      <% if Spotlight::Exhibit.many? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t(:'.more_exhibits') %> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <% Spotlight::Exhibit.accessible_by(current_ability).where.not(id: current_exhibit).each do |exhibit| %>
              <li>
              <%= link_to exhibit.title, [spotlight, exhibit] %>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
    <% end if current_exhibit %>

    <div class="site-title h1">
      <% if content_for? :masthead %>
        <%= content_for :masthead %>
      <% else %>
        <%= current_exhibit.title %>
        <% if current_exhibit.subtitle %>
          <small><%= current_exhibit.subtitle %></small>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<% end %>
