<div id="exhibit-navbar" class="exhibit-navbar navbar navbar-light navbar-expand-md" role="navigation" aria-label="<%= t('spotlight.exhibitnavbar.label') %>">
  <div class="container flex-column flex-md-row">
    <% if resource_masthead? %>
      <%= link_to(current_exhibit.title, spotlight.exhibit_path(current_exhibit), class: 'navbar-brand') %>
    <% end %>

    <ul class="navbar-nav <%= resource_masthead? ? 'justify-content-md-end' : 'mr-auto' %>">
      <li class="nav-item <%= "active" if current_page?([spotlight, current_exhibit]) %>"><%= link_to t(:'spotlight.curation.nav.home'), [spotlight, current_exhibit], class: 'nav-link' %></li>
      <% current_exhibit.main_navigations.displayable.each do |navigation| %>
        <%= render partial: "shared/#{navigation.nav_type}_navbar", locals: { navigation: navigation } %>
      <% end %>
    </ul>
    <% if should_render_spotlight_search_bar? %>
      <div class="navbar-right navbar-nav exhibit-search-form mt-3 mt-md-0">
        <%- exhibit_config = current_exhibit.blacklight_config %>
        <%- renderable_search_fields = exhibit_config.search_fields.values.collect { |field_def| [field_def.display_label('search'), field_def.key] if should_render_field?(field_def)}.compact %>
        <%= render((exhibit_config&.view_config(document_index_view_type)&.search_bar_component ||Blacklight::SearchBarComponent).new(
          url: search_action_url,
          advanced_search_url: search_action_url(action: 'advanced_search'),
          search_fields: renderable_search_fields,
          params: search_state.params_for_search.except(:qt),
          autocomplete_path: search_action_path(action: :suggest))
        ) %>
      </div>
    <% end %>
  </div>
</div>
