<div id="header-navbar" class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#user-util-collapse">
      <span class="sr-only"><%= t :toggle_nav %></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to application_name, main_app.root_path, class: "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse" id="user-util-collapse">
      <%= render :partial=>'/user_util_links' %>
    </div>
  </div>
</div>

<% if current_exhibit %>
<%= render 'spotlight/shared/report_a_problem' if show_contact_form? %>
<%= render 'shared/exhibit_masthead' %>
<% end %>
<%= render 'shared/exhibit_navbar' %>
