<% if show_contact_form? && (current_exhibit.nil? || !current_page?(spotlight.new_exhibit_contact_form_path(current_exhibit))) %>
  <div id="report-problem-form">
    <%= render 'spotlight/shared/report_a_problem' %>
  </div>
<% end %>

<%- masthead_navbar = capture do %>
  <% if content_for? :masthead_navbar %>
    <%= content_for :masthead_navbar %>
  <% elsif current_exhibit %>
    <%= render 'shared/exhibit_navbar' %>
  <% else %>
    <%= render 'shared/site_navbar' %>
  <% end %>
<% end %>

<header class="masthead <%= 'image-masthead' if current_masthead %> <%= 'resource-masthead' if resource_masthead? %>" role="banner">
  <% if current_masthead %>
    <span class='background-container' style="background-image: url('<%= current_masthead.iiif_url %>')"></span>
    <span class='background-container-gradient'></span>
  <% end %>

  <%= masthead_navbar if resource_masthead? %>

  <div class="container site-title-container">
    <div class="site-title-wrapper">
      <% if content_for? :masthead %>
        <h1 class="site-title h2">
          <%= content_for :masthead %>
        </h1>
      <% else %>
        <h1 class="site-title h2">
          <%= masthead_heading_content %>
        </h1>
        <% if masthead_subheading_content %>
          <small><%= masthead_subheading_content %></small>
        <% end %>
      <% end %>
    </div>
  </div>

  <%= masthead_navbar unless resource_masthead? %>
</header>

<%= render Spotlight::BreadcrumbsComponent.new(breadcrumbs:) %>
