<% if can?(:manage, Spotlight::Site.instance) || can?(:create, Spotlight::Exhibit) %>
<h4 class="nav-heading"><%=t(:'.header') %></h4>
<ul class="nav sidenav">
  <li><%= link_to t('.documentation'), 'https://github.com/sul-dlss/spotlight/wiki/Configuration-settings' %></li>

  <% if can? :manage, Spotlight::Site.instance %>
    <li><%= link_to t(:'spotlight.sites.edit.section'), spotlight.edit_site_path %></li>
  <% end %>

  <% if can? :manange, Spotlight::Exhibit %>
    <li><%= link_to t(:'spotlight.sites.edit_exhibits.section'), spotlight.edit_site_exhibits_path %></li>
    <li><%= link_to t(:'spotlight.admin_users.index.section'), spotlight.admin_users_path %></li>
  <% end %>
</ul>

<ul class="nav sidenav nav-pills nav-stacked">
  <li><%= link_to t('.create_exhibit'), new_exhibit_path, class: 'btn btn-default btn-nav', role: 'button' if can? :create, Spotlight::Exhibit %></li>
</ul>
<% end %>
