<%= bootstrap_form_for @contact, url: @contact.new_record? ? exhibit_contacts_path(@exhibit) : [@exhibit, @contact], layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-10', html: {class: 'col-md-9' } do |f| %>
  <%= f.text_field :name, placeholder: t(:'.name.placeholder') %>
  <%= f.text_field :email, placeholder: t(:'.email.placeholder') %>
  <%= f.text_field :title, placeholder: t(:'.title.placeholder') %>
  <%= f.text_field :location, placeholder: t(:'.location.placeholder') %>
  <div class="form-group primary-actions">
    <%= cancel_link @contact, exhibit_about_pages_path(@contact.exhibit), class: "btn btn-link" %>
    <%= f.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>
