<%= bootstrap_form_for @contact, url: @contact.new_record? ? exhibit_contacts_path(@exhibit) : [@exhibit, @contact], layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-10', html: {class: 'col-md-9' } do |f| %>
  <%= f.text_field :name, placeholder: t(:'.name.placeholder') %>
  <%= f.fields_for(:contact_info) do |contact_info| %>
    <% Spotlight::Contact.fields.keys.each do |field| %>
      <%= contact_info.text_field field, value: @contact.contact_info[field], placeholder: t(:".#{field}.placeholder") %>
    <% end %>
  <% end %>

  <%= f.file_field :avatar, data: { croppable: true, aspect_ratio: 1, box_width: 600 } %>

  <div class="form-group croppable-loading-area <%= "missing-croppable" unless @contact.avatar.present? %>">
    <div class="col-sm-5 col-sm-offset-2">
      <%= hidden_field_tag :contact_avatar_crop, ([@contact.avatar_crop_x.to_i, @contact.avatar_crop_y.to_i, @contact.avatar_crop_x.to_i + @contact.avatar_crop_w.to_i, @contact.avatar_crop_y.to_i + @contact.avatar_crop_h.to_i].to_json if @contact.avatar_crop_x) %>
      <%= f.previewbox :avatar %>
      <%= f.cropbox :avatar %>
    </div>
  </div>

  <div class="form-group primary-actions">
    <%= cancel_link @contact, exhibit_about_pages_path(@contact.exhibit), class: "btn btn-link" %>
    <%= f.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>
