<p class="instructions"><%=t(:'.help') %></p>
<div class="panel-group dd facet_fields" id="nested-fields" data-behavior="nestable" data-max-depth="1">
  <ol class="dd-list">
    <%= f.fields_for :facet_fields do |idxf| %>
      <% @blacklight_configuration.blacklight_config.facet_fields.each do |key, config| %>
        <% metadata = @field_metadata.field(key) %>
        <li class="dd-item" data-id="<%= key.parameterize %>">
          <div class="dd-handle dd3-handle"><%= t :drag %></div>
          <%= idxf.fields_for key do |facet| %>
            <div class="dd3-content panel panel-default facet-config-<%= key.parameterize %>">
              <div class="panel-heading page">
                <%= facet.hidden_field :weight, 'data-property' => 'weight' %>
                <%= facet.check_box :show, checked: config.show, label: "", title: key %>
                <div class="main row">
                  <div class="col-sm-5">
                    <h3 class="panel-title" data-in-place-edit-target=".edit-in-place" data-in-place-edit-field-target="[data-edit-field-target='true']">
                      <a href="#edit-in-place" class="field-label edit-in-place"><%= facet_field_label(key) %></a>
                      <%= facet.hidden_field :label, value: facet_field_label(key), class: 'form-control input-sm', data: {:"edit-field-target" => 'true'} %>
                    </h3>
                  </div>
                  <div class="facet-metadata col-sm-5">
                    <%= render partial: 'facet_metadata', locals: { metadata: metadata } %>
                  </div>
                  <div class="col-sm-2 pull-right">
                    <a class="btn btn-link collapse-toggle collapsed" role="button" data-toggle="collapse" href="#<%= key.parameterize %>_facet_options" aria-expanded="false" aria-controls="<%= key.parameterize %>_facet_options">
                      Options
                    </a>
                  </div>
                </div>
                <div id="<%= key.parameterize %>_facet_options" class="options row collapse">
                  <div class="col-sm-12">
                    <%= facet.form_group :terms, label_col: 'col-md-2', label: { text: t(:'.sort_by.label') } do %>
                      <%= facet.radio_button :sort, 'count', label: t(:'.sort_by.count'), inline: true, checked: (config.sort.to_s == 'count' || config.sort.nil?) %>
                      <%= facet.radio_button :sort, 'index', label: t(:'.sort_by.index'), inline: true, checked: (config.sort.to_s == 'index') %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ol>
</div>
