<% default_field = @blacklight_configuration.blacklight_config.default_search_field %>
<div class="checkbox">
  <label>
    <%= check_box_tag :enable_feature, '1', @blacklight_configuration.blacklight_config.search_fields.select { |_k, v| v.enabled && v.include_in_simple_select != false }.any?, data: { behavior: 'enable-feature', target: '#search_fields' } %> <%= t(:'.enable_feature') %>
  </label>
</div>

<%= field_set_tag(t(:'.header'), id: 'search_fields') do %>
  <p class="instructions"><%= t(:'.help') %></p>
  <p class="instructions"><%= t(:'.instructions') %></p>

  <%= f.fields_for :search_fields, @blacklight_configuration.blacklight_config.search_fields.keys do |vt| %>
    <ol class="dd-list col-md-7 disabled-search-option search_fields_admin">
      <li>
        <div class="panel panel-default">
          <div class="panel-content">
            <div class="panel-heading">
              <h3 class="panel-title">
                <%= vt.fields_for default_field.key, default_field do |field| %>
                  <%= field.check_box_without_bootstrap :enabled, data: { readonly: true }, class: 'disabled' %>
                  <%= field.hidden_field :label, readonly: true %>
                  <%= field.hidden_field :weight, value: "-1", readonly: true  %>
                  <%= default_field.label %>
                <% end %>
              </h3>
            </div>
          </div>
        </div>
      </li>
    </ol>
    <div class="panel-group dd search_fields_admin col-sm-7" id="nested-search-fields" data-behavior="nestable" data-max-depth="1">
      <ol class="dd-list">
        <% @blacklight_configuration.blacklight_config.search_fields.select { |_k, v| v.include_in_simple_select != false }.except(default_field.key).each_with_index do |(k, config), index| %>
            <li class="dd-item dd3-item" data-id="<%= k %>-id">
              <div class="dd3-content panel panel-default">
                <div class="dd-handle dd3-handle"><%= t(:drag) %></div>
                <div class="panel-heading" data-behavior="restore-default">
                  <div class="row">
                    <div class="col-sm-12">
                      <%= vt.fields_for k, config do |field| %>
                        <%= field.check_box_without_bootstrap :enabled %>
                        <h3 class="panel-title" data-in-place-edit-target=".edit-in-place" data-in-place-edit-field-target="[data-edit-field-target='true']">
                          <a href="#edit-in-place" class="field-label edit-in-place"><%= config.label %></a>
                          <%= field.hidden_field :label, {data: {:"edit-field-target" => "true"}} %>
                        </h3>
                        <%= field.hidden_field :weight, {value: index, data: {property: "weight"}} %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </li>
        <% end %>
      </ol>
    </div>
  <% end %>
<% end %>
