        <%= contact.hidden_field :id %>
        <div class="row contact">
          <div class="col-md-8<%= ' has-error' if contact.object.errors[:email].present? %>">
            <%= text_field_tag "#{contact.object_name}[email]", contact.object.email, class: 'exhibit-contact form-control' %>
            <% if contact.object.errors[:email].present? %>
              <span class="help-block"><%=contact.object.errors[:email].join(", ".html_safe) %></span>
            <% end %>
          </div>
          <%= render partial: 'confirmation_status', locals: {contact_email: contact.object} unless contact.object.new_record? %>
        </div>
