<h2 class="card-title">
  <%= exhibit.title %>
</h2>

<p class="subtitle">
  <%= exhibit.subtitle %>
</p>

<% if exhibit.description %>
  <p class="description">
    <%= truncated_description = exhibit.description.truncate(168, omission: '', separator: ' ') %>
    <% if exhibit.description.length > 168 %>
      <%= content_tag(:span,"&hellip;".html_safe, class: "visible-sm visible-md") %>
      <span class="hidden-sm hidden-md">
        <%= exhibit.description.slice(truncated_description.length, exhibit.description.length) %>
      </span>
    <% end %>
  </p>
<% end %>

<%
  # The inclusion of the hidden `<div>` addresses an accessibility issue where a link label should not be used with multiple link
  # locations.  In this case, the label is 'Visit exhibit' and it is used for all links leading to the various exhibits.
  #
  # Using just the `exhibit.id` is not sufficient to create a unique id as this code is used in each tab (i.e. Published exhibits,
  # Unpublished exhibits, and Your exhibits).  To ensure the ID is unique across tabs, it is appended with a random hex string.
  label_id = "visit-exhibit-#{exhibit.id}-#{SecureRandom.hex(8)}"
%>
<div class="hidden" id="<%= label_id %>"><%= "#{t(:'.visit_exhibit')} #{exhibit.title}" %></div>
<div class="visit-exhibit center-btn">
  <%= link_to t(:'.visit_exhibit'), exhibit, class: "btn btn-primary", role: "button", "aria-labelledby" => "#{label_id}" %>
</div>
