<div class="col mb-4">
  <div class="card exhibit-card">
    <%= link_to exhibit, aria: { hidden: true  }, tabindex: '-1' do %>
      <% if exhibit.thumbnail.present? && exhibit.thumbnail.iiif_url %>
        <%= image_tag(exhibit.thumbnail.iiif_url, class: 'card-img',  alt: '', role: 'presentation', skip_pipeline: true) %>
      <% else %>
        <%= image_tag 'spotlight/default_thumbnail.jpg', class: 'card-img default-thumbnail',  alt: '', role: 'presentation' %>
      <% end %>
    <% end %>
    <div class="card-img-overlay pb-0">
      <% unless exhibit.published? %>
        <div class="badge badge-warning unpublished"><%= t('.unpublished') %></div>
      <% end %>

      <%= content_tag :h2, class: 'card-title h5 text-center', aria: { describedby: "exhibit-description-#{exhibit.to_param}" } do %>
        <%= link_to exhibit, class: 'stretched-link' do %>
          <span><%= exhibit.title %></span>
        <% end %>
      <% end %>

      <% if exhibit.subtitle || exhibit.description  %>
        <%= content_tag :div, id: "exhibit-description-#{exhibit.to_param}", class: 'card-text exhibit-description' do %>
          <% if exhibit.subtitle %>
            <p class="subtitle">
              <%= exhibit.subtitle %>
            </p>
          <% end %>

          <% if exhibit.description %>
            <p class="description">
              <%= exhibit.description %>
            </p>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
