<%= bootstrap_form_for @exhibit, url: ((spotlight.exhibit_path(@exhibit) if @exhibit.persisted?) || spotlight.exhibits_path), layout: :horizontal, label_col: 'col-md-2', control_col: 'col-md-10', html: {class: "row"} do |f| %>
<div class="col-md-12">
  <%= f.text_field :title, disabled: !default_language?, help: !default_language? ? t('.uneditable_non_default_language') : '' %>
  <%= f.text_field :subtitle, disabled: !default_language?, help: !default_language? ? t('.uneditable_non_default_language') : '' %>
  <%= f.text_area :description, disabled: !default_language?, help: !default_language? ? t('.uneditable_non_default_language') : '' %>
  <%= render Spotlight::TagListFormComponent.new(form: f) %>
  <%= f.form_group(:contact_emails, label: { text: nil, class: nil, for: 'exhibit_contact_email_0' }, class: 'form-group mb-3', help: nil) do %>
    <%= f.fields_for :contact_emails do |contact| %> 
      <%= render partial: 'contact', locals: {exhibit: @exhibit, contact: contact} %>
    <% end %>
    <button id='another-email' class="btn btn-sm btn-info"><%= t('.add_contact_email_button') %></button>
    <div class="form-text text-muted mb-3"><%= t(:'.fields.contact_emails.help_block') %></div>
  <% end %>
  <%= f.form_group :published, label: { class: 'pt-0 col-md-2 col-form-label' }, help: nil do %>
    <%= f.check_box_without_bootstrap :published %>
    <div class="form-text text-muted mb-3"><%= t(:'.fields.published.help_block') %></div>
  <% end %>

  <div class="form-actions">

    <div class="primary-actions">
      <%= f.submit nil, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
<% end %>
