<%= render 'spotlight/shared/curation_sidebar' %>
<div id="content" class="col-md-9 exhibit-admin">
  <%= administration_page_title %>
  <%= render 'form' %>
  <div class="callout callout-danger row">
    <h4><%= t(:".delete_exhibit") %></h4>
    <p class='col-md-9'><%= t(:".delete_exhibit_warning_html", export_link: link_to(t(:'spotlight.exhibits.import.export.download'), spotlight.import_exhibit_path(@exhibit))) %></p>
    <div class='col-md-3'>
      <%= delete_link @exhibit, class: 'btn btn-default' %>
    </div>
  </div>
</div>
