<%= render 'spotlight/shared/curation_sidebar' %>
<div id="content" class="col-md-9">
<%= bootstrap_form_for @exhibit, url: spotlight.exhibit_path(@exhibit), style: :horizontal, right: "col-sm-5" do |f| %>
    <div class="row">
      <h1><%= t('spotlight.curation.header') %></h1>
    </div>
    <div class="row">
      <div class="col-sm-5">
        <h2><small><%= t('spotlight.curation.facet_fields.header') %></small></h2>
      </div>
      <div class="col-sm-2">
        <%= f.submit nil %>
      </div>
    </div>

   <%= f.fields_for :blacklight_configuration, @exhibit.blacklight_configuration do |c| %>

      <%= c.fields_for :facet_fields do |idxf| %>
        <% @exhibit.blacklight_configuration.all_facet_fields.each do |key, config| %>
          <%= idxf.fields_for key do |facet| %>
            <div class="panel panel-default">
              <div class="panel-heading">
              <a class="pull-right btn btn-text" data-toggle="collapse" href="#collapse-facet-<%= key %>"><%= t(:'spotlight.feature_pages.options') %>
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
                <%= facet.check_box :enabled, checked: (@exhibit.blacklight_configuration.facet_fields[key] || {}).fetch(:enabled, true), label: @exhibit.blacklight_configuration.default_blacklight_config.facet_fields[key].label %>
              </div>
              <div id="collapse-facet-<%= key %>" class="panel-collapse collapse">
                <div facet="panel-body">
                  <%= facet.text_field :label, label: t('spotlight.curation.facet_fields.options.label'), placeholder: @exhibit.blacklight_configuration.default_blacklight_config.facet_fields[key].label %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>

   <% end %>
<% end %>
</div>