<%= render 'spotlight/shared/exhibit_sidebar' %>
<div id="content" class="col-md-9 exhibit-admin">
  <%= configuration_page_title %>
  <div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#basic" aria-controls="basic" role="tab" data-toggle="tab"><%= t(:'.basic_settings.heading') %></a>
      </li>
      <% if can? :edit, current_exhibit.filters.first_or_initialize %>
        <li role="presentation">
          <a href="#filter" aria-controls="filter" role="tab" data-toggle="tab"><%= t(:'spotlight.exhibits.filter.heading') %></a>
        </li>
      <% end %>
      <% if can? :import, current_exhibit %>
        <li role="presentation">
          <a href="#import" aria-controls="import" role="tab" data-toggle="tab"><%= t(:'spotlight.exhibits.import.heading') %></a>
        </li>
      <% end %>
      <% if can? :export, current_exhibit %>
        <li role="presentation">
          <a href="#export" aria-controls="export" role="tab" data-toggle="tab"><%= t(:'spotlight.exhibits.export.heading') %></a>
        </li>
      <% end %>
      <% if can? :destroy, current_exhibit %>
        <li role="presentation">
          <a href="#delete" aria-controls="delete" role="tab" data-toggle="tab"><%= t(:'spotlight.exhibits.delete.heading') %></a>
        </li>
      <% end %>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="basic">
        <%= render 'form' %>
      </div>
      <%= render 'spotlight/filters/form' if can? :edit, current_exhibit.filters.first_or_initialize %>
      <%= render 'import' if can? :import, current_exhibit %>
      <%= render 'export' if can? :export, current_exhibit %>
      <%= render 'delete' if can? :destroy, current_exhibit %>
    </div>
  </div>
</div>
