<%= render 'spotlight/shared/curation_sidebar' %>
<div id="content" class="col-md-9 exhibit-admin">
<%= bootstrap_form_for @exhibit, url: spotlight.exhibit_path(@exhibit), style: :horizontal, right: "col-sm-5" do |f| %>
  <div class="row">
    <h1><%= t :'spotlight.administration.header' %></h1>
  </div>
  <div class="row">
    <div class="col-sm-5">
      <h2><small><%= t :'.header' %></small></h2>
    </div>
    <div class="col-sm-2">
      <%= f.submit nil %>
    </div>
  </div>
  <div class="row">
    <%= f.text_field :title %>
    <%= f.text_field :subtitle %>
    <%= f.form_group(:contact_emails, label: { text: nil, class: nil }, help: nil) do %>
      <%= f.fields_for :contact_emails, @exhibit.contact_emails do |contact| %>
        <% if contact.index == 0 %>
          <div class="input-group">
            <%= text_field_tag "#{contact.object_name}[email]", contact.object, class: 'exhibit-contact form-control' %>
            <span id='another-email' class="input-group-addon">+</span>
          </div>
        <% else %>
          <%= text_field_tag "#{contact.object_name}[email]", contact.object, class: 'exhibit-contact form-control' %>
        <% end %>
      <% end %>
    <% end %>
    <%= f.text_area :description %>
  </div>
<% end %>
</div>

