<%= render 'spotlight/shared/curation_sidebar' %>
<div id="content" class="col-md-9">
  <%= administration_page_title %>
<%= bootstrap_form_for @appearance, url: spotlight.exhibit_appearance_path(@exhibit), style: :horizontal, left: 'col-md-3', right: 'col-sm-5' do |f| %>

  <%= field_set_tag t(:'.search_results') do %>
    <%= f.form_group :document_index_view_types, label: {text: t(:'.document_index_view_types')} do %>
      <%= f.fields_for :document_index_view_types, @appearance.document_index_view_types do |vt| %>
        <% @appearance.view_type_options.each do |key| %>
          <%= vt.check_box key %>
        <% end %>
      <% end %>
    <% end %>

    <%= f.form_group :default_per_page, label: { text: t(:'.default_per_page')} do %>
      <% @appearance.per_page_options.each do |key| %>
        <%= f.radio_button :default_per_page, key, label: key.to_s %>
      <% end %>
    <% end %>

    <%= f.form_group :thumbnail_size, label: { text: t(:'.thumbnail_size')} do %>
      <%= f.radio_button :thumbnail_size, 'small', label: t(:'.thumbnail.small') %>
      <%= f.radio_button :thumbnail_size, 'medium', label: t(:'.thumbnail.medium') %>
      <%= f.radio_button :thumbnail_size, 'large', label: t(:'.thumbnail.large') %>
    <% end %>

    <%= f.form_group :sort_fields, label: {text: t(:'.sort_fields')} do %>
      <%= f.fields_for :sort_fields, @appearance.sort_fields do |vt| %>
        <%= vt.check_box :relevance, {  checked: true, data: { readonly: true }} %>
        <% @appearance.sort_options.each do |k| %>
          <%= vt.check_box k %>
        <% end %>
      <% end %>
    <% end %>

  <% end %>

  <div class="form-actions">
    <div class="primary-actions">
      <%= f.submit nil, class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
</div>
