<%= render 'spotlight/shared/exhibit_sidebar' %>
<div id="content" class="col-md-9">
  <%= configuration_page_title %>

<%= bootstrap_form_for @exhibit, url: spotlight.exhibit_appearance_path(@exhibit), layout: :horizontal, label_col: 'col-md-3 col-sm-3', control_col: 'col-md-5 col-sm-5', html: {data: { autocomplete_exhibit_catalog_index_path: spotlight.autocomplete_exhibit_catalog_index_path(current_exhibit, q: "%QUERY", format: "json") } } do |f| %>
  <% if @exhibit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exhibit.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @exhibit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#site-masthead" aria-controls="site-masthead" role="tab" data-toggle="tab"><%= t(:'.site_masthead.heading') %></a>
      </li>
      
      <li role="presentation">
        <a href="#site-thumbnail" aria-controls="site-thumbnail" role="tab" data-toggle="tab"><%= t(:'.site_thumbnail.heading') %></a>
      </li>

      <li role="presentation">
        <a href="#main-menu" aria-controls="main-menu" role="tab" data-toggle="tab"><%= t(:'.main_navigation.menu') %></a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="site-masthead">
        <p class="instructions"><%= t(:'.site_masthead.help') %></p>
        <%= f.fields_for(:masthead, current_exhibit.masthead || current_exhibit.build_masthead) do |m| %>
          <%= render '/spotlight/featured_images/form', f: m, jcrop_options: default_masthead_jcrop_options %>
        <% end %>
      </div>
      
      <div role="tabpanel" class="tab-pane" id="site-thumbnail">
        <p class="instructions"><%= t(:'.site_thumbnail.help') %></p>
        <%= f.fields_for(:thumbnail, current_exhibit.thumbnail || current_exhibit.build_thumbnail) do |m| %>
          <%= render '/spotlight/featured_images/form', f: m, jcrop_options: default_site_thumbnail_jcrop_options %>
        <% end %>
      </div>

      <div role="tabpanel" class="tab-pane" id="main-menu">
        <%= field_set_tag do %>
          <p class="instructions"><%= t(:'.main_navigation.help') %></p>
          <div class="panel-group dd main_navigation_admin col-sm-7" id="nested-navigation" data-behavior="nestable" data-max-depth="1">
            <ol class="dd-list">
              <%= f.fields_for :main_navigations do |label| %>
                    <li class="dd-item dd3-item" data-id="<%= label.object.id %>">
                      <div class="dd3-content panel panel-default">
                        <div class="dd-handle dd3-handle"><%= t :drag %></div>
                        <div class="panel-heading" data-behavior="restore-default">
                          <%= label.hidden_field :id %>
                          <div class="row">
                            <div class="col-sm-8">
                              <div class='publish-control'>
                                <%= label.check_box_without_bootstrap :display %>
                              </div>
                              <div class="main">
                                <h3 class="panel-title" data-in-place-edit-target=".edit-in-place" data-in-place-edit-field-target="[data-edit-field-target='true']">
                                  <a href="#edit-in-place" class="field-label edit-in-place"><%= label.object.label_or_default %></a>
                                  <%= label.hidden_field :label, data: {:"default-value" => label.object.default_label, :"edit-field-target" => 'true'} %>
                                </h3>
                              </div>
                            </div>
                            <div class="col-sm-4">
                              <%= button_tag t(:'.restore_default'), data: {:"restore-default" => true}, class: "btn restore-default btn-default btn-sm pull-right #{'hidden' if label.object.label.blank? || label.object.label == label.object.default_label}" %>
                            </div>
                          </div>
                          <%= label.hidden_field :weight, data: {property: "weight"} %>
                        </div>
                      </div>
                    </li>
              <% end %>
            </ol>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <div class="primary-actions">
      <%= f.submit nil, class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
</div>
