<% content_for(:sidebar) do %>
  <%= render 'spotlight/shared/exhibit_sidebar' %>
<% end %>

<%= curation_page_title t(:".header") %>

<% if @tags.empty? %>
  <p><%= t :'.no_tags' %></p>
<% else %>
  <%= bootstrap_form_for @exhibit, url: update_all_exhibit_tags_path(@exhibit), layout: :horizontal, control_col: 'col-sm-10' do |f| %>
    <ul class="dd-list">
      <% @tags.each_with_index do |tag, index| %>
        <%= f.fields_for :owned_tags_attributes, tag, index: index do |p| %>
          <%= render partial: 'tag', locals: { f: p } %>
        <% end %>
      <% end %>
    </ul>
    <div class="float-right float-end">
      <%= submit_tag t(:'helpers.action.update_all'), class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>
