<%= render 'spotlight/shared/curation_sidebar' %>
<div id="content" class="col-md-9">
  <% @page_title = t(:'.title') %>

  <h1><%= t :'spotlight.curation.header' %></h1>
  <h4 class="text-muted">
    <%= t :'.header' %>
    <span class="label label-default"><%= @tags.length %></span>
  </h4>

  <table class="table table-striped">
    <thead>
      <th><%= t '.name' %></th>
      <th><%= t '.taggings.count' %></th>
      <%# TODO last used? %>
      <th><%= t '.actions' %></th>
    </thead>
    <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%=tag.name %></td>
        <td><%= tag.taggings.count %></td>
        <td><%= delete_link(tag, exhibit_tag_path(current_exhibit, tag), class: 'btn btn-danger') %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
