<div class="modal fade" id="remove-tags-modal" tabindex="-1" role="dialog" aria-labelledby="remove-tag-modal" aria-hidden="true">
  <div class="modal-dialog">
  <%= bootstrap_form_for([:visibility, current_exhibit], url: remove_tags_exhibit_bulk_actions_path(current_exhibit), method: 'post') do |f| %>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="remove-tag-modal"><%= t(:'spotlight.bulk_actions.remove_tags.heading') %></h4>
        <button type="button" class="blacklight-modal-close close btn-close" data-bs-dismiss="modal" aria-label="<%= t('blacklight.modal.close') %>"></button>
      </div>
      <div class="modal-body">
        <%= t(:'spotlight.bulk_actions.remove_tags.description_html', count: @response.total) %>
        <% facet = @response.aggregations[blacklight_config.facet_fields['exhibit_tags'].field] %>

        <% if facet.items.any? %>
          <h5><%= t(:'spotlight.bulk_actions.remove_tags.assigned') %></h5>
        <% end %>
        <% facet.items.each do |facet_item| %>
          <div class="badge bg-info">
            <%= "#{facet_item.value} (#{facet_item.hits})" %>
          </div>
        <% end %>

        <div class="form-group mb-3 mt-4">
          <%= label_tag :tags, t(:'spotlight.bulk_actions.remove_tags.label') %>
          <%= render Spotlight::TagSelectorComponent.new(field_name: :tags, all_tags: current_exhibit.owned_tags) %>
        </div>
        <%= render Blacklight::HiddenSearchStateComponent.new(params: search_state.params_for_search) %>
      </div>
      <div class="modal-footer d-flex flex-row-reverse justify-content-start">
        <%= f.submit t(:'spotlight.bulk_actions.remove'), class: 'btn btn-primary', data: { confirm: t(:'spotlight.bulk_actions.confirm'), turbo_confirm: t(:'spotlight.bulk_actions.confirm') } %>
        <button type="button" class="btn btn-link" data-bs-dismiss="modal"><%= t :cancel %></button>
      </div>
    </div>
    <% end %>
  </div>
</div>
