<%= button_tag t(:'spotlight.saved_search.label'), id: "save-this-search", class: 'btn btn-default',  data: {toggle:"modal", target:"#save-modal"} %>
<div class="modal fade" id="save-modal" tabindex="-1" role="dialog" aria-labelledby="save-modal-label" aria-hidden="true">
  <div class="modal-dialog">
  <%= bootstrap_form_for [spotlight, current_exhibit, Spotlight::Search.new] do |f| %>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="save-modal-label"><%= t(:'spotlight.saved_search.label') %></h4>
      </div>
      <div class="modal-body">
        <%=f.text_field :title, label: t(:'spotlight.saved_search.title'), required: true %>
        <%= render_hash_as_hidden_fields(params_for_search().except(:qt, :page, :utf8)) %>
      </div>
      <div class="modal-footer">
        <%= f.submit nil, class: 'btn btn-primary pull-right' %>
        <button type="button" class="btn btn-link" data-dismiss="modal"><%= t :cancel %></button>
      </div>
    </div>
    <% end %>
  </div>
</div>