<%= bootstrap_form_for @custom_search_field.new_record? ? [current_exhibit, @custom_search_field] : [@custom_search_field.exhibit, @custom_search_field], layout: :horizontal, label_col: 'col-md-3', control_col: 'col-md-9', html: {class: 'col-md-9', id: 'edit-search-field'} do |f| %>

  <%= f.text_field :slug %>
  <%= f.text_field :field, help: t('.field.help') %>
  <%= f.text_field :label %>

  <div class="form-actions">
    <div class="primary-actions">
      <%= link_to t(:"cancel"), edit_exhibit_search_configuration_path(current_exhibit), class: 'btn btn-link', role: 'button' %>
      <%= f.submit nil, class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
