<%= cache current_exhibit, expires_in: 1.hour do %>
  <h2><%= t :'.monthly_header' %></h2>
  <table class="table analytics">
    <tr>
    <% current_exhibit.analytics_provider.metrics.elements.each do |e| %>
        <td class="value <%= e %>"><%= current_exhibit.analytics(1.month, exhibit_root_path(current_exhibit)).send(e) %></td>
    <% end %>
    </tr>
    <tfoot>
      <tr>
      <% current_exhibit.analytics_provider.metrics.elements.each do |e| %>
        <th><%= t(:".#{e}") %></th>
      <% end %>
      </tr>
    </tfoot>
  </table>
  <% page_analytics = current_exhibit.page_analytics(1.month, exhibit_root_path(current_exhibit)) %>
  <% unless page_analytics.empty? %>
  <h4><%= t :'.pages.header' %></h4>
  <table class="table table-striped popular-pages">
    <thead>
      <tr>
        <th><%= t(:".pagetitle") %></th>
        <th class="text-right text-end"><%= t(:".pageviews") %></th>
      </tr>
    </thead>
    <% page_analytics.each do |p| %>
      <tr>
        <td><%= link_to p.pageTitle, p.pagePath %></td>
        <td class="text-right text-end"><%= p.pageviews %></td>
      </tr>
    <% end %>
  </table>
  <% end %>
<% end %>
