<tr>
  <td>
    <h4 class="panel-title"><%= page.title %></h4>
    <div class="page-links">
      <% if page.is_a?(Spotlight::HomePage) %>
          <%= link_to action_default_value(page, :view), current_exhibit, :class => 'btn btn-link' %> &middot;
          <%= exhibit_edit_link page, edit_exhibit_home_page_path(page.exhibit), :class => 'btn btn-link' %>
      <% else %>
        <%= exhibit_view_link page, :class => 'btn btn-link' %> &middot;
        <%= exhibit_edit_link page, :class => 'btn btn-link' %>
      <% end %>
    </div>
  </td>
  <td><%= page.last_edited_by.to_s if page.last_edited_by %></td>
  <td><%= l page.updated_at, format: :short %></td>
</tr>
