<h3><%= t :'.header' %></h3>

<% unless @pages.empty? %>
  <table class="table table-striped">
  <thead>
    <tr>
      <th class="col-md-4"><%= t :'.field.title' %></th>
      <th class="col-md-2"><%= t :'.field.last_edited_by' %></th>
      <th class="col-md-2"><%= t :'.field.updated_at' %></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'page', collection: @pages %>
  </tbody>
  </table>
<% end %>