<h2><%= t :'.header' %></h2>

<% unless @recent_reindexing.empty? %>
  <table class="table table-striped">
  <thead>
    <tr class="d-flex">
      <th class="col-3"><%= t :'.field.date' %></th>
      <th class="col-3"><%= t :'.field.user' %></th>
      <th class="col-1"><%= t :'.field.items_reindexed_count' %></th>
      <th class="col-3"><%= t :'.field.duration' %></th>
      <th class="col-2"><%= t :'.field.job_status' %></th>
    </tr>
  </thead>
  <tbody>
    <% @recent_reindexing.each do |tracker| %>
      <tr class="d-flex">
        <td class="col-3"><%= l tracker.created_at, format: :long %></td>
        <td class="col-3"><%= tracker.user.email if tracker.user %></td>
        <td class="col-1"><%= tracker.progress %></td>
        <td class="col-3"><%= distance_of_time_in_words tracker.created_at, tracker.updated_at, include_seconds: true if tracker.completed? || tracker.failed? %></td>
        <td class="col-2"><%= link_to_if can?(:read, tracker), t("spotlight.job_trackers.status.#{tracker.status}"), [current_exhibit, tracker], data: { blacklight_modal: 'trigger' } %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
<% else %>
  <p><%= t(:'.no_reindexing_activity') %></p>
<% end %>
