<%= render 'spotlight/shared/curation_sidebar' %>

<div id="content" class="col-md-9">
  <h1><%= t :'spotlight.curation.header' %></h1>
  <h2 class="text-muted clearfix"><%= t :".header" %></h2>

  <%= render 'analytics' %>
  <%= render 'page_activity' %>
  <%= render 'solr_document_activity' %>
</div>
