<%= render 'spotlight/shared/curation_sidebar' %>

<div id="content" class="col-md-9">
  <%= curation_page_title %>

  <%= render 'analytics' %>
  <%= render 'page_activity' %>
  <%= render 'solr_document_activity' %>
</div>
