<% if current_exhibit and can?(:curate, current_exhibit) %>
<div class="pull-right">
  <span class="label label-<%= curation_mode_label_class %> curation-widget">
    <%- if curation_mode? -%>
      <%= t(:'spotlight.items.curation_mode') %> <%= link_to t(:'spotlight.items.show_link'), spotlight.exhibit_catalog_path(current_exhibit.id, document) %>
    <%- else -%>
      <%= t(:'spotlight.items.end_user_mode') %> <%= link_to t(:'spotlight.items.edit_link'), spotlight.edit_polymorphic_path([current_exhibit, :catalog], id: document.id) %>
    <%- end -%>
  </span>
</div>
<% end %>