<% # container for all documents in index view -%>
<% view_config = local_assigns[:view_config] || blacklight_config&.view_config(default_document_index_view_type) %>
<table id="documents" class="table">
  <thead>
    <tr>
      <th class="thumbnail-column"></th>
      <th scope="col"><%= t(:'spotlight.catalog.fields.title') %></th>
      <th scope="col" class="text-nowrap"><%= t(:'spotlight.catalog.fields.date_added') %></th>
      <th scope="col" class="checkbox-toggle"><%= t(:'spotlight.catalog.fields.visibility') %></th>
    </tr>
  </thead>

  <% if Blacklight.version < '8.0' %>
    <%= render (view_config.document_component || Spotlight::DocumentAdminTableComponent).with_collection(documents) %>
  <% else %>
    <% document_presenters = documents.map { |doc| document_presenter(doc) } -%>
    <%= render view_config.document_component.with_collection(document_presenters) %>
  <% end %>
</table>
