<%= bootstrap_form_for @document, url: spotlight.exhibit_catalog_path(current_exhibit, @document), html: {:'data-form-observer' => true} do |f| %>
<div class="edit-fields">
  <%= f.fields_for :sidecar do |c| %>
    <%= c.fields_for :data do |d| %>
      <% current_exhibit.custom_fields.each do |field| %>
        <%= d.text_field field.field, value: document.sidecar(current_exhibit).data[field.field], label: field.label %>
      <% end %>
    <% end %>
  <% end %>

  <div class="edit-tags">
  <%= f.text_field :exhibit_tag_list, value: f.object.tags_from(current_exhibit).to_s, 'data-autocomplete_url' => exhibit_tags_path(current_exhibit, format: 'json') %>
  </div>
  <%= f.submit nil%>
</div>
<% end %>