<%= render 'spotlight/shared/exhibit_sidebar' %>
<div id="content" class="col-md-9">

  <%= curation_page_title %>

      <%= render 'admin_header' %>
      <%= render 'search_header' %>

      <%- if @response.empty? %>
        <%= render "zero_results" %>
      <%- else %>
        <%= render_document_index %>
      <%- end %>

	    <%= render 'results_pagination' %>
</div>
