<h4 class="nav-heading"><%=t(:'spotlight.configuration.sidebar.header') %></h4>
<ul class="nav sidenav flex-column">
  <% if can? :update, current_exhibit %>
    <%= nav_link t(:'spotlight.configuration.sidebar.settings'), spotlight.edit_exhibit_path(current_exhibit) %>
    <%= nav_link t(:'spotlight.configuration.sidebar.appearance'), spotlight.edit_exhibit_appearance_path(current_exhibit) %>
  <% end %>
  <% if can? :manage, Spotlight::Role.new(resource: current_exhibit) %>
    <%= nav_link t(:'spotlight.configuration.sidebar.users'), spotlight.exhibit_roles_path(current_exhibit) %>
  <% end %>
  <% if can? :update, current_exhibit.blacklight_configuration %>
    <%= nav_link t(:'spotlight.configuration.sidebar.metadata'), spotlight.edit_exhibit_metadata_configuration_path(current_exhibit) %>
    <%= nav_link t(:'spotlight.configuration.sidebar.search_configuration'), spotlight.edit_exhibit_search_configuration_path(current_exhibit) %>
  <% end %>
</ul>
