<div id="sidebar" class="col-md-3" role="complementary">
  <ul class="nav sidenav top-level">
    <li><%= link_to t(:'spotlight.curation.sidebar.dashboard'), spotlight.exhibit_dashboard_path(current_exhibit) %></li>
    <li><%= link_to t(:'spotlight.curation.sidebar.analytics'), spotlight.analytics_exhibit_dashboard_path(current_exhibit) %></li>
  </ul>
  <%= render 'spotlight/shared/admin_sidebar' if can? :update, current_exhibit %>
  <h4><%=t(:'spotlight.curation.sidebar.header') %></h4>
  <ul class="nav sidenav">
    <li><%= link_to t(:'spotlight.curation.sidebar.items'), spotlight.admin_exhibit_catalog_index_path(current_exhibit) %></li>
    <% if can? :tag, current_exhibit %>
    <li><%= link_to t(:'spotlight.curation.sidebar.tags'), spotlight.exhibit_tags_path(current_exhibit) %></li>
    <% end %>
    <% if can? :update, current_exhibit.blacklight_configuration %>
    <li><%= link_to t(:'spotlight.curation.sidebar.metadata'), spotlight.edit_exhibit_metadata_configuration_path(current_exhibit) %></li>
    <li><%= link_to t(:'spotlight.curation.sidebar.search_configuration'), spotlight.edit_exhibit_search_configuration_path(current_exhibit) %></li>
    <% end %>
    <% if can? :manage, Spotlight::Search.new(exhibit: current_exhibit) %>
    <li><%= link_to t(:'spotlight.curation.sidebar.browse'), spotlight.exhibit_searches_path(current_exhibit) %></li>
    <% end %>
    <% if can? :manage, Spotlight::FeaturePage.new(exhibit: current_exhibit) or can? :manage, current_exhibit.home_page %>
    <li><%= link_to t(:'spotlight.curation.sidebar.feature_pages'), spotlight.exhibit_feature_pages_path(current_exhibit), 'data-no-turbolink' => true %></li>
    <% end %>
    <% if can? :manage, Spotlight::AboutPage.new(exhibit: current_exhibit) %>
    <li><%= link_to t(:'spotlight.curation.sidebar.about_pages'), spotlight.exhibit_about_pages_path(current_exhibit), 'data-no-turbolink' => true %></li>
    <% end %>
  </ul>
</div>
