<div id="sidebar" class="col-md-3" role="complementary">
  <h2>Curation</h2>
  <ul class="nav sidenav">
    <li class="disabled"><%= link_to "Dashboard", "#" %></li>
    <li><%= link_to "Items", spotlight.catalog_index_path %></li>
    <li class="disabled"><%= link_to "Metadata", "#" %></li>
    <li class="disabled"><%= link_to "Tags", "#" %></li>
    <li class="disabled"><%= link_to "Search facets", "#" %></li>
    <li class="disabled"><%= link_to "Browse", "#" %>
    <li class="disabled"><%= link_to "Feature pages", "#" %></li>
    <li class="disabled"><%= link_to "About pages", "#" %></li>
  </ul>
</div>
