<h3 class="nav-heading h4"><%=t(:'spotlight.curation.sidebar.header') %></h3>

<ul class="nav sidenav flex-column">
  <%= nav_link t(:'spotlight.curation.sidebar.items'), spotlight.admin_exhibit_catalog_path(current_exhibit) %>
  <% if can? :tag, current_exhibit %>
    <%= nav_link t(:'spotlight.curation.sidebar.tags'), spotlight.exhibit_tags_path(current_exhibit) %>
  <% end %>
  <% if can? :manage, Spotlight::Search.new(exhibit: current_exhibit) %>
    <%= nav_link t(:'spotlight.curation.sidebar.browse'), spotlight.exhibit_searches_path(current_exhibit) %>
  <% end %>
  <% if can? :manage, Spotlight::FeaturePage.new(exhibit: current_exhibit) or can? :manage, current_exhibit.home_page %>
    <%= nav_link t(:'spotlight.curation.sidebar.feature_pages'), spotlight.exhibit_feature_pages_path(current_exhibit), 'data-no-turbolink' => true %>
  <% end %>
  <% if can? :manage, Spotlight::AboutPage.new(exhibit: current_exhibit) %>
    <%= nav_link t(:'spotlight.curation.sidebar.about_pages'), spotlight.exhibit_about_pages_path(current_exhibit), 'data-no-turbolink' => true %>
  <% end %>
  <% if (can? :manage, current_exhibit.translations.first_or_initialize) && current_exhibit.languages.any? %>
    <%= nav_link t(:'spotlight.curation.sidebar.translations'), spotlight.edit_exhibit_translations_path(current_exhibit), 'data-no-turbolink' => true %>
  <% end %>
  <% if can? :bulk_update, current_exhibit %>
    <%= nav_link t(:'spotlight.curation.sidebar.bulk_updates'), spotlight.edit_exhibit_bulk_updates_path(current_exhibit), 'data-no-turbolink' => true %>
  <% end %>
</ul>
