<div id="sidebar" class="col-md-3" role="complementary">
  <h2>Curation</h2>
  <ul class="nav sidenav">
    <li class="disabled"><%= link_to "Dashboard", "#" %></li>
    <li><%= link_to "Items", spotlight.exhibit_catalog_index_path(@exhibit) %></li>
    <li><%= link_to "Metadata", spotlight.edit_metadata_exhibit_path(@exhibit) %></li>
    <li class="disabled"><%= link_to "Tags", "#" %></li>
    <li><%= link_to "Search facets", spotlight.edit_facets_exhibit_path(@exhibit) %></li>
    <li><%= link_to "Browse", spotlight.exhibit_searches_path(@exhibit) %></li>
    <li><%= link_to "Feature pages", spotlight.exhibit_feature_pages_path(@exhibit) %></li>
    <li><%= link_to "About pages", spotlight.exhibit_about_pages_path(@exhibit) %></li>
  </ul>
</div>
