<h4 class="nav-heading"><%=t(:'spotlight.curation.sidebar.header') %></h4>
<ul class="nav sidenav">
  <li><%= link_to t(:'spotlight.curation.sidebar.items'), spotlight.admin_exhibit_catalog_index_path(current_exhibit) %></li>
  <% if can? :tag, current_exhibit %>
  <li><%= link_to t(:'spotlight.curation.sidebar.tags'), spotlight.exhibit_tags_path(current_exhibit) %></li>
  <% end %>
  <% if can? :manage, Spotlight::Search.new(exhibit: current_exhibit) %>
  <li><%= link_to t(:'spotlight.curation.sidebar.browse'), spotlight.exhibit_searches_path(current_exhibit) %></li>
  <% end %>
  <% if can? :manage, Spotlight::FeaturePage.new(exhibit: current_exhibit) or can? :manage, current_exhibit.home_page %>
  <li><%= link_to t(:'spotlight.curation.sidebar.feature_pages'), spotlight.exhibit_feature_pages_path(current_exhibit), 'data-no-turbolink' => true %></li>
  <% end %>
  <% if can? :manage, Spotlight::AboutPage.new(exhibit: current_exhibit) %>
  <li><%= link_to t(:'spotlight.curation.sidebar.about_pages'), spotlight.exhibit_about_pages_path(current_exhibit), 'data-no-turbolink' => true %></li>
  <% end %>
</ul>