<h2 class="sr-only"><%= t(:'.header') %></h2>
<ul class="nav sidenav top-level flex-column">
  <%= nav_link t(:'spotlight.curation.sidebar.dashboard'), spotlight.exhibit_dashboard_path(current_exhibit) %>
  <% if current_exhibit.analytics_provider&.enabled? %>
  <%= nav_link t(:'spotlight.curation.sidebar.analytics'), spotlight.analytics_exhibit_dashboard_path(current_exhibit) %>
  <% end %>
</ul>
<%= render 'spotlight/shared/configuration_sidebar' if can? :update, current_exhibit %>
<%= render 'spotlight/shared/curation_sidebar' %>
