<div id="report-problem-form">
<div class="container">
<div class="row">
  <% contact_form = Spotlight::ContactForm.new current_url: request.original_url %>
  <%= bootstrap_form_for contact_form, url: spotlight.exhibit_contact_form_path(current_exhibit, contact_form), style: :horizontal, html: { class: 'col-md-offset-3 col-md-7 '} do |f| %>
    
    <h2><%= t(:'.title') %></h2>
    <%= f.text_field :name %>
    <%= f.text_field :email %>
    <%= f.text_area :message, rows: 7 %>
    <%= f.hidden_field :current_url %>
    <div class="form-actions">
      <div class="primary-actions">
      <%= link_to t(:'helpers.action.cancel'), '#', class: 'btn btn-link', data: { 'behavior' => 'cancel-link' } %>
      <%= f.submit nil, class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
  </div>
  </div>
</div>
