<div class="pull-right">
  <% @page_title = document_show_html_title(@item) %>
  <span class="label label-warning"><%= t(:'spotlight.items.current_mode', mode: t(:'spotlight.items.curation_mode')) %> <%= link_to t(:'spotlight.items.show_link'), exhibit_item_path(@exhibit, @item) %></span>
</div>
<h1 class="clearfix"><%= @page_title %></h1>

<%= bootstrap_form_for @item, url: exhibit_item_path(@exhibit, @item) do |f| %>
  
  <%= f.text_field :tag_list %>
  <%= f.submit nil%>
<% end %>

