  <ul class="nav navbar-nav pull-right">
    <% if current_user %>
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%=current_user%> <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><%= link_to "Change Password", edit_user_registration_path %></li>
          <% if can? :update, Spotlight::Exhibit.default %>
            <li><%= link_to "Administration", spotlight.edit_exhibit_path(Spotlight::Exhibit.default) %></li>
          <% end %>
          <% if can? :curate, Spotlight::Exhibit.default %>
            <li><%= link_to "Curation", spotlight.catalog_index_path %></li>
          <% end %>
          <li class="divider"></li>
          <li><%= link_to t('spotlight.header_links.logout'), destroy_user_session_path %></li>
        </ul>
      </li>
    <% else %>
      <li><%= link_to t('spotlight.header_links.login'), new_user_session_path %></li>
    <% end %>
    <li><a href="#">Report a problem</a></li>
  </ul>
