<div id="content" class="col-md-9">
  <%= bootstrap_form_for [current_exhibit, @custom_field], style: :horizontal, right: "col-sm-5", html: {id: 'edit-search'} do |f| %>

    <div class="row">
      <h1><%= t('spotlight.curation.header') %></h1>
    </div>
    <div class="row">
      <div class="col-sm-5">
        <h2><small><%= t('spotlight.curation.custom_fields.header') %></small></h2>
      </div>
      <div class="col-sm-2">
        <%= f.submit nil %>
      </div>
    </div>
  <div class="row">
    <%= f.fields_for :configuration do |c| %>
      <%= c.text_field :label %>
      <%= c.text_area :short_description %>
    <% end %>
  </div>
<% end %>