<%= bootstrap_form_for @custom_field.new_record? ? [current_exhibit, @custom_field] : [@custom_field.exhibit, @custom_field], layout: :horizontal, label_col: 'col-md-3', control_col: 'col-sm-5', html: {class: 'col-md-9', id: 'edit-search'} do |f| %>

  <%= f.text_field :label %>
  <%= f.text_area :short_description %>

  <%= f.form_group :field_type, label: { text: t(:'.field_type.label') } do %>
    <%= f.radio_button :field_type, "text", label: t(:'.field_type.text') %>
    <%= f.radio_button :field_type, "vocab", label: t(:'.field_type.vocab') %>
  <% end %>

  <div class="form-actions">
    <div class="primary-actions">
      <%= link_to t(:"cancel"), edit_exhibit_metadata_configuration_path(current_exhibit), class: "btn btn-link" %>
      <%= f.submit nil, class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
