<%= form_for([spotlight, @page.exhibit, @page], role: 'form', html: {
              data: {
                :'form-observer' => true,
                :'attachment-endpoint' => spotlight.exhibit_attachments_url(@page.exhibit),
                :'metadata-url' => spotlight.exhibit_metadata_path(@page.exhibit, format: "json"),
                :'autocomplete-url'=> spotlight.autocomplete_exhibit_catalog_index_path(@page.exhibit, format: "json"),
                :'searches-endpoint' => spotlight.exhibit_searches_path(@page.exhibit, format: "json"),
                :'available-configurations-endpoint' => spotlight.exhibit_available_configurations_path(@page.exhibit, format: "json"),
                :'preview-url' => spotlight.exhibit_preview_block_url(@page.exhibit)
              }
            }) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= t(:'.page_options') %></h3>
    </div>
    <div class="panel-body">
      <%= render "page_options", f: f %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :title, class: 'sr-only' %>
    <%= f.text_field :title, class: 'form-control input-lg', placeholder: t(:'.title_placeholder') %>
  </div>
  <div class="form-group">
    <%= f.label :content, class: 'sr-only' %>
    <%= f.sir_trevor_text_area :content %>
  </div>

  <div class="form-actions">
    <div class="primary-actions">
      <%= link_to(t('cancel'), :back, class: "btn btn-link") %>
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
