<%
  # TODO: the "if @page.persisted?" business below could possibly be done w/ some clever polymorphic routing.
  # Leaving as-is for now since technically you can't get to the new page form anyway.
%>
<%= bootstrap_form_for([spotlight, @page.exhibit, @page], role: 'form', html: {
              data: {
                :'form-observer' => true,
                :'blacklight-configuration-index-fields' => available_index_fields,
                :'blacklight-configuration-search-views' => available_view_fields.map { |k,v| { key: k, label: view_label(k) }},
                :'attachment-endpoint' => spotlight.exhibit_attachments_url(@page.exhibit),
                :'autocomplete-exhibit-catalog-index-path'=> spotlight.autocomplete_exhibit_catalog_index_path(@page.exhibit, q: "%QUERY", format: "json"),
                :'autocomplete-exhibit-feature-pages-path' => spotlight.exhibit_feature_pages_path(@page.exhibit, format: "json"),
                :'autocomplete-exhibit-searches-path' => spotlight.exhibit_searches_path(@page.exhibit, format: "json"),
                :'preview-url' => (spotlight.exhibit_preview_block_url(@page.exhibit, @page) if @page.persisted?)
              }
            }) do |f| %>
  <%= render @page.lock if @page.lock and not @page.lock.stale? and not @page.lock.current_session? %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#page-content" aria-controls="page-content" role="tab" data-toggle="tab"><%= t(:'.page_content') %></a>
      </li>

      <li role="presentation">
        <a href="#page-options" aria-controls="page-options" role="tab" data-toggle="tab"><%= t(:'.page_options') %></a>
      </li>
      <% if @page.respond_to? :thumbnail %>
      <li role="presentation">
        <a href="#page-thumbnail" aria-controls="page-thumbnail" role="tab" data-toggle="tab"><%= t(:'.page_thumbnail') %></a>
      </li>
      <% end %>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="page-content">
        <div class="form-group">
          <%= f.label :title, class: 'sr-only' %>
          <%= f.text_field_without_bootstrap :title, class: 'form-control input-lg', placeholder: t(:'.title_placeholder') %>
        </div>
        <div class="form-group">
          <%= f.label :content, class: 'sr-only' %>
          <%= f.text_area_without_bootstrap :content, value: f.object['content'], class: 'js-st-instance' %>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane" id="page-options">
        <%= render "page_options", f: f %>
      </div>

      <% if @page.respond_to? :thumbnail %>
      <div role="tabpanel" class="tab-pane" id="page-thumbnail">
        <%= f.fields_for :thumbnail, (@page.thumbnail || @page.build_thumbnail) do |m| %>
          <p class="instructions"><%= t(:'.thumbnail.help') %></p>
          <%= render '/spotlight/featured_images/form', f: m, jcrop_options: default_thumbnail_jcrop_options %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>

  <div class="form-actions">
    <div class="primary-actions">
      <%= link_to(t('cancel'), :back, class: "btn btn-link", data: (@page.lock && @page.lock.current_session? ? { lock: url_for([spotlight, @page.exhibit, @page.lock]) } : {})) %>
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
