<% page = f.object %>
<li class="dd-item dd3-item" data-id="<%= page.id %>">
  <div class="dd3-content panel panel-default page-admin">
    <div class="dd-handle dd3-handle"><%= t :drag %></div>
    <div class="panel-heading page">
      <div class="publish-control">
        <%= f.check_box :published, label: '' %>
      </div>
      <div class="main row">
        <div class="col-sm-8">
          <%= f.hidden_field :id %>
          <%= f.hidden_field :weight, data: {property: "weight"} %>
          <h3 class="panel-title" data-in-place-edit-target=".edit-in-place" data-in-place-edit-field-target="[data-edit-field-target='true']">
            <a href="#edit-in-place" class="field-label edit-in-place"><%= page.title %></a>
            <%= f.hidden_field :title, value: page.title , class: 'form-control input-sm', data: {:"edit-field-target" => 'true'} %>
          </h3>
        </div>

        <div class="page-links col-sm-4">
          <%= exhibit_view_link page, :class => 'btn btn-link' %> &middot;
          <%= exhibit_edit_link page, :class => 'btn btn-link' %> &middot;
          <%= exhibit_delete_link page, :class => 'btn btn-link' %>
        </div>
        <%- if page.feature_page? -%>
          <%= f.hidden_field :parent_page_id, data: {property: "parent_page"} %>
        <% end %>

      </div>
    </div>
  </div>
  <% if page.feature_page? and page.child_pages.present? %>
    <ol class="dd-list">
      <% page.child_pages.each do |child_page| %>
        <%= parent_form.fields_for page_collection_name, child_page do |p| %>
          <%= render partial: 'page', locals: {f: p, parent_form: parent_form} %>
        <% end %>
      <% end %>
    </ol>
  <% end %>
</li>
