<% page = f.object %>
<li class="dd-item dd3-item" data-id="<%= page.id %>">
  <div class="dd-handle dd3-handle"><%= t :drag %></div>
  <div class="dd3-content panel panel-default">
    <div class="panel-heading page">
      <a class="pull-right btn btn-text" data-toggle="collapse" href="#collapse-page-<%= page.id %>"><%= t(:'spotlight.feature_pages.options') %>
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
      <%= f.check_box :published, label: '' %>
      <div class="main">
        <h3 class="panel-title"><%= page.title %></h3>
        <div class="page-links">
          <%= view_link page, :class => 'btn btn-text' %> &middot;
          <%= edit_link page, :class => 'btn btn-text' %> &middot;
          <%= delete_link page, :class => 'btn btn-text' %>
        </div>
      </div>
    </div>
    <div id="collapse-page-<%= page.id %>" class="panel-collapse collapse">
      <div class="panel-body">
        <%= f.text_field :title, label: t('spotlight.administration.page_title') %>
        <%= f.hidden_field :id %>
        <%= f.hidden_field :weight, data: {property: "weight"} %>
        <%- if page.feature_page? -%>
          <div class="col-sm-offset-2 col-sm-10">
            <%= f.hidden_field :parent_page_id, data: {property: "parent_page"} %>
            <%= f.check_box :display_sidebar, label: t('spotlight.administration.show_sidebar') %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% if page.feature_page? and page.child_pages.present? %>
    <ol class="dd-list">
      <% page.child_pages.each do |child_page| %>
        <%= parent_form.fields_for page_collection_name, child_page do |p| %>
          <%= render partial: 'page', locals: {f: p, parent_form: parent_form} %>
        <% end %>
      <% end %>
    </ol>
  <% end %>
</li>
