<% set_html_page_title @page.title if @page.should_display_title? %>
<% render 'tophat' %>
<%= render 'sidebar' if @page.display_sidebar? %>

<%= cache_unless current_user, @page do %>
<div class="<%= 'col-md-9' if @page.display_sidebar? %>">
  <div class="clearfix">
  <%= exhibit_edit_link @page, class: 'edit-button pull-right btn btn-primary' if can? :edit, @page %>
  <% if @page.should_display_title? %>
    <h1 class="page-title">
      <%= @page.title %>
    </h1>
  <% end %>
  </div>
  <div>
    <%= render @page.content if @page.has_content? %>
  </div>
</div>
<% end %>
