<% set_html_page_title @page.title if @page.should_display_title? %>
<% render 'tophat' %>

<% content_for(:sidebar) do %>
  <%= render 'sidebar' %>
<% end if @page.display_sidebar?%>

<%= cache_unless current_user, @page do %>
  <div class="clearfix">
    <%= render 'edit_page_link' if can? :edit, @page %>
    <% if @page.should_display_title? %>
      <h1 class="page-title">
        <%= @page.title %>
      </h1>
    <% end %>
  </div>
  <div>
    <% if @page.content? %>
      <%= render @page.content %>
    <% else %>
      <%= render 'empty' %>
    <% end %>
  </div>
<% end %>
