<p class="instructions"><%= t('.instructions_html') %></p>

<%= bootstrap_form_with(url: download_template_exhibit_bulk_updates_path, local: true, data: { turbo: false }) do |f| %>
  <div class="row">
    <div class="col col-sm-3">
      <%= f.form_group(:reference_fields, label: { text: t('.reference_fields.heading'), class: 'fw-bold mb-3' }) do %>
        <%= f.check_box('reference_fields[item_id]', label: t('.item_id'), checked: true, disabled: true) %>
        <%= f.check_box('reference_fields[item_title]', label: t('.item_title')) %>
      <% end %>
    </div>
    <div class="col col-sm-3">
      <%= f.form_group(:updatable_fields, label: { text: t('.updatable_fields.heading'), class: 'fw-bold mb-3' }) do %>
        <%= f.check_box('updatable_fields[visibility]', checked: true, label: t('.visibility')) %>
        <%= f.check_box('updatable_fields[tags]', label: t('.tags')) %>
      <% end %>
    </div>
    <div class="col col-sm-3 download-csv">
      <%= f.submit t('.submit'), class: 'btn btn-primary'  %>
    </div>
  </div>
<% end %>

<%= t('.guidelines_html') %>
