<p class="instructions"><%= t('.instructions') %></p>

<%= bootstrap_form_with(url: exhibit_bulk_updates_path, method: :patch, multipart: true, layout: :inline) do |f| %>
  <%= f.label :file, t('.file_label'), class: 'col-form-label col-md-3' %>
  <%= file_field_tag :file, class: 'form-control', accept: '.csv,text/csv', 'aria-described-by': 'bulk-update-form-help' %>
  <%= f.submit t('.submit'), class: 'btn btn-primary ml-2 ms-2' %>
<% end %>
<div class="row">
  <div class="offset-md-3">
    <p id="bulk-update-form-help" class="form-text text-muted ml-2 ms-2"><%= t('.form_help') %></p>
  </div>
</div>
