<p class="instructions mb-4"><%= t('.instructions') %></p>

<%= bootstrap_form_with(url: exhibit_bulk_updates_path, method: :patch, html: { multipart: true }) do |f| %>
  <div class="row">
    <div class="col-12 col-md-3 text-md-right text-md-end">
      <%= f.label :file, t('.file_label'), class: 'col-form-label' %>
    </div>
    <div class="col-12 col-md-9">
      <div class="input-group">
        <%= file_field_tag :file, class: 'form-control', accept: '.csv,text/csv', 'aria-described-by': 'bulk-update-form-help' %>
        <div class="input-group-append">
          <%= f.submit t('.submit'), class: 'btn btn-primary rounded-0 rounded-end' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-12 col-md-9 offset-md-3">
    <p id="bulk-update-form-help" class="form-text text-muted ml-3"><%= t('.form_help') %></p>
  </div>
</div>
