<% content_for(:sidebar) do %>
  <%= render 'spotlight/shared/exhibit_sidebar' %>
<% end %>

<%= curation_page_title t(:".header") %>

<div data-behavior='progress-panel' data-monitor-url="<%= monitor_exhibit_bulk_updates_path(current_exhibit) %>">
  <%= render 'progress_panel' %>
</div>

<%= render Spotlight::TabPanelComponent.new do |component| %>
  <% component.tab(id: 'overview', label: t(:'.overview.heading'), active: true) do %>
    <%= render 'overview' %>
  <% end %>

  <% component.tab(id: 'download', label: t(:'.download.heading')) do %>
    <%= render 'download' %>
  <% end %>

  <% component.tab(id: 'upload', label: t(:'.upload.heading')) do %>
    <%= render 'upload' %>
  <% end %>
<% end %>
