<%= cache [@exhibit, search] do %>
  <div class="col-sm-4 col-xs-12 category">
    <%= link_to spotlight.exhibit_browse_path(@exhibit, search) do %>
      <div class="image-overlay">
        <% if search.thumbnail_image_url %>
          <%= image_tag(search.thumbnail_image_url, class: 'img-responsive') %>
        <% end %>
        <div class="text-overlay">
           <h2 class="browse-category-title">
             <%= search.title%>
             <small><%= t :'spotlight.browse.search.item_count', count: search.documents.size %></small>
           </h2>
         </div>
      </div>
    <% end %>
  </div>
<% end %>
