<% set_html_page_title @search.title %>
<% add_browse_meta_content(@search) %>

<%= exhibit_edit_link @search, class: 'edit-button float-end btn btn-primary' if can? :edit, @search %>
<% if resource_masthead? %>
  <% content_for :masthead do %>
    <%= render 'search_title', search: @search %>
  <% end %>
<% else %>
  <h1><%= render 'search_title', search: @search %></h1>
<% end %>
<% if @search.long_description.present? %>
  <div class="long-description-text <%= 'very-long-description-text' if @search.long_description.length > 600 %>">
    <%= render_markdown @search.long_description %>
  </div>
<% end %>

<%= render 'sort_and_per_page' %>
<% if @search.search_box? %>
  <%= render partial: 'search_box', locals: {search: @search} %>
<% end %>
<% if @search.default_index_view_type && params[:view].blank? %>
  <%= render_document_index_with_view(@search.default_index_view_type, @response.documents) %>
<% else %>
  <%= render_document_index(@response.documents) %>
<% end %>
<%= render 'results_pagination' %>
