<% set_html_page_title @search.title %>
<div class="col-md-12">
  <%= exhibit_edit_link @search, class: 'edit-button pull-right btn btn-primary' if can? :edit, @search %>
  <% if resource_masthead? %>
    <% content_for :masthead do %>
      <%= render 'search_title', search: @search %>
    <% end %>
  <% else %>
    <h1><%= render 'search_title', search: @search %></h1>
  <% end %>
  <% if @search.long_description.present? %>
    <p class="long-description-text"><%= @search.long_description %></p>
  <% end %>
</div>

<div class="col-md-12">
  <%= render 'sort_and_per_page' %>
  <%= render_document_index(@document_list) %>
  <%= render 'results_pagination' %>
</div>
