<%= page_title(t('.page_title')) %>
  <%= bootstrap_form_for @site, url: spotlight.site_path, layout: :horizontal, label_col: 'col-md-2', control_col: 'col-md-10' do |f| %>
    <%= render Spotlight::TabPanelComponent.new do |component| %>
      <% component.tab(id: 'basic', label: t(:'.basic_settings.heading'), active: true) do %>
        <%= f.text_field :title %>
        <%= f.text_field :subtitle %>
      <% end %>

      <% component.tab(id: 'site-masthead', label: t(:'.site_masthead.heading')) do %>
          <p class="instructions"><%= t(:'.site_masthead.help') %></p>
          <%= f.fields_for(:masthead, @site.masthead || @site.build_masthead) do |m| %>
            <%= render '/spotlight/featured_images/upload_form', f: m, initial_crop_selection: Spotlight::Engine.config.masthead_initial_crop_selection, crop_type: :masthead %>
          <% end %>
      <% end %>
    <% end %>

    <div class="form-actions">
      <div class="primary-actions">
        <%= f.submit nil, class: 'btn btn-primary' %>
      </div>
    </div>
<% end %>

<% content_for(:sidebar_position) { 'order-last' } %>
<% content_for(:sidebar) do %>
  <%= render 'shared/site_sidebar' %>
<% end %>
