<%= page_title(t('.section'), t('.page_title')) %>
<div role="tabpanel">
  <%= bootstrap_form_for @site, url: spotlight.site_path, layout: :horizontal, label_col: 'col-md-2', control_col: 'col-md-10' do |f| %>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="nav-item">
        <a href="#basic" class="active nav-link" aria-controls="basic" role="tab" data-toggle="tab"><%= t(:'.basic_settings.heading') %></a>
      </li>
      <li role="presentation" class="nav-item">
        <a href="#site-masthead" class="nav-link" aria-controls="site-masthead" role="tab" data-toggle="tab"><%= t(:'.site_masthead.heading') %></a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="basic">
        <%= f.text_field :title %>
        <%= f.text_field :subtitle %>
      </div>

      <div role="tabpanel" class="tab-pane" id="site-masthead">
        <p class="instructions"><%= t(:'.site_masthead.help') %></p>
        <%= f.fields_for(:masthead, @site.masthead || @site.build_masthead) do |m| %>
          <%= render '/spotlight/featured_images/upload_form', f: m, initial_crop_selection: Spotlight::Engine.config.masthead_initial_crop_selection, crop_type: :masthead %>
        <% end %>
      </div>
    </div>

    <div class="form-actions">
      <div class="primary-actions">
        <%= f.submit nil, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>

<% content_for(:sidebar_position) { 'order-last' } %>
<% content_for(:sidebar) do %>
  <%= render 'shared/site_sidebar' %>
<% end %>
